<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zerody.user.mapper.BlacklistOperationRecordMapper">




    <select id="getPageBlacklistOperationRecord" resultType="com.zerody.user.vo.BlacklistOperationRecordPageVo">
    select
        id,
        bor.blacklist_id as blacklistId,
        bor.black_name as blackName,
        bor.identity_card as idCard,
        bor.mobile as  mobile ,
        bor.black_dept_name as blackDeptName,
        bor.black_company_name as blackCpyName,
        bor.black_time as blackTime,
        bor.black_reason as reason,
        bor.type as type,
        bor.operate_company_name as operateCpyName,
        bor.operate_dept_name as operateDeptName,
        bor.create_name as createName,
        bor.create_time as createTime
    from
        blacklist_operation_record as bor
    <where>
        <if test="param.companyId neq null and param.companyId neq ''">
            AND bor.black_company_id = #{param.companyId}
        </if>
        <if test="param.companyIds neq null and param.companyIds.size() gt 0">
            AND bor.black_company_id
            <foreach collection="param.companyIds" item="id" open="IN (" separator="," close=")">
                #{id}
            </foreach>
        </if>
        <if test="param.departId neq null and param.departId neq ''">
            AND (bor.black_dept_id Like CONCAT('', #{param.departId}, '\_%') or bor.black_dept_id=#{param.departId})
        </if>
        <if test="param.userId neq null and param.userId neq ''">
            AND bor.black_user_id = #{param.userId}
        </if>
        <if test="param.blackName neq null and param.blackName neq ''">
            AND bor.black_name LIKE CONCAT('%', #{param.blackName}, '%')
        </if>
        <if test="param.createName neq null and param.createName neq ''">
            AND bor.create_name LIKE CONCAT('%', #{param.createName}, '%')
        </if>
        <if test="param.type neq null">
            AND bor.type = #{param.type}
        </if>
        <if test="param.startTime != null">
            AND bor.create_time &gt;= #{param.startTime}
        </if>
        <if test="param.endTime != null">
            AND bor.create_time &lt;= #{param.endTime}
        </if>
    </where>
        ORDER BY bor.create_time DESC
</select>

    <select id="doExportRecord" resultType="com.zerody.user.vo.BlackOperationRecordVo">
        select
            black_name,
            identity_card,
            mobile,
            CONCAT(IF(black_company_name is not NULL,black_company_name,""),
                IF(black_dept_name is not NULL,black_dept_name,"")) AS blackCompanyDept,
            black_time,
            black_reason,
            if(type=1,'编辑','查询') AS `type`,
            CONCAT(IF(operate_company_name is not NULL,operate_company_name,""),
                IF(operate_dept_name is not NULL,operate_dept_name,"")) AS companyDept,
            create_name,
            create_time
        from
            blacklist_operation_record
        <where>
        1=1
            <if test="param.id neq null and param.id.size() gt 0">
                AND id
                <foreach collection="param.id" item="id" open="IN (" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            TRUE
            <if test="param.companyId neq null and param.companyId neq ''">
                AND company_id = #{param.companyId}
            </if>
            <if test="param.companyIds neq null and param.companyIds.size() gt 0">
                AND company_id
                <foreach collection="param.companyIds" item="id" open="IN (" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            <if test="param.departId neq null and param.departId neq ''">
                AND (depart_id Like CONCAT('', #{param.departId}, '\_%') or depart_id=#{param.departId})
            </if>
            <if test="param.userId neq null and param.userId neq ''">
                AND user_id = #{param.userId}
            </if>
            <if test="param.blackName neq null and param.blackName neq ''">
                AND black_name LIKE CONCAT('%', #{param.blackName}, '%')
            </if>
            <if test="param.createName neq null and param.createName neq ''">
                AND bor.create_name LIKE CONCAT('%', #{param.createName}, '%')
            </if>
            <if test="param.type neq null and param.type neq ''">
                AND bor.type = #{param.type}
            </if>
            <if test="param.startTime != null">
                AND bor.create_time &gt;= #{param.startTime}
            </if>
            <if test="param.endTime != null">
                AND bor.create_time &lt;= #{param.endTime}
            </if>
        </where>
    </select>

    <select id="getBlacklistByMobile" resultType="com.zerody.user.vo.MobileBlacklistOperationQueryVo">
        SELECT
            sb.id AS blacklistId,
            sb.user_name AS blackName,
            sb.user_id AS blackUserId,
            sb.mobile AS mobile,
            sb.id is not null as isBlack,
            sb.identity_card AS identityCard,
            sb.create_time AS blackTime,
            sb.company_id AS blackCompanyId,
            sci.company_name AS blackCompanyName,
            usd.department_id AS blackDeptId,
            sdi.depart_name AS blackDeptName,
            sb.reason AS blackReason
        FROM
            sys_user_info sui
        JOIN sys_staff_info ssi ON sui.id = ssi.user_id
        LEFT JOIN sys_company_info sci ON sci.id = ssi.comp_id
        LEFT JOIN union_staff_depart usd ON usd.staff_id = ssi.id
        LEFT JOIN sys_department_info sdi ON usd.department_id = sdi.id and sdi.status = 0
        LEFT JOIN staff_blacklist AS sb ON (sb.mobile = sui.phone_number or sb.identity_card = sui.certificate_card) and sb.state = 'BLOCK'
        <where>
            ssi.deleted = 0 and sui.status != -1 and ssi.status = 1
            <if test="(param.mobile neq null and param.mobile neq '') or (param.IdentityCard neq null and param.IdentityCard neq '')">
                AND (
                    FALSE
            <if test="param.mobile neq null and param.mobile neq ''">
                or sui.phone_number = #{param.mobile}
            </if>
            <if test="param.IdentityCard neq null and param.IdentityCard neq ''">
                or sui.certificate_card = #{param.IdentityCard}
            </if>
                )
            </if>
        limit 0,1
        </where>
    </select>

    <select id="getCreateInfoByCreateId" resultType="com.zerody.user.vo.CreateInfoVo">
        SELECT
            ssi.comp_id AS operateCompanyId,
            sci.company_name AS operateCompanyName,
            usd.department_id AS operateDeptId,
            sdi.depart_name AS operateDeptName,
            sui.id  AS operateUserId,
            sui.user_name  AS operateUserName,
            sui.phone_number as mobile
        FROM
        sys_user_info AS sui
        JOIN sys_staff_info ssi ON sui.id = ssi.user_id
        LEFT JOIN sys_company_info AS sci ON ssi.comp_id = sci.id
        LEFT JOIN union_staff_depart AS usd ON usd.staff_id = ssi.id
        LEFT JOIN sys_department_info AS sdi ON sdi.id = usd.department_id
        <where>
            ssi.deleted = 0 and sui.status != -1
            <if test="param.staffId neq null and param.staffId neq ''">
                AND ssi.id = #{param.staffId}
            </if>
            <if test="param.userId neq null and param.userId neq ''">
                AND sui.id = #{param.userId}
            </if>
            limit 0,1
        </where>
    </select>

</mapper>
