<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zerody.user.mapper.CeoUserInfoMapper">
    <select id="getCeoPage" resultType="com.zerody.user.vo.BosStaffInfoVo">
        SELECT cui.id,
               cui.role_id,
               cui.role_name,
               cui.user_name,
               cui.phone_number AS phone
        FROM ceo_user_info AS cui
        <where>
            cui.status = 0
              AND cui.deleted = 0
            <if test="param.keyword neq null and param.keyword neq ''">
                AND (
                        cui.phone_number LIKE CONCAT('%', #{param1.keyword}, '%')
                        OR
                        cui.user_name LIKE CONCAT('%', #{param1.keyword}, '%')
                    )
            </if>
        </where>
        ORDER BY cui.create_time DESC
    </select>

    <select id="getCeoInfoByUserId" resultType="com.zerody.user.vo.SysUserInfoVo">
        SELECT cui.id,
               cui.user_name,
               cui.role_id,
               cui.role_name,
               cui.phone_number,
               cui.avatar,
               cui.nation,
               cui.highest_education,
               cui.graduated_from,
               cui.graduated_from,
               cui.major,
               cui.marital_status,
               cui.status,
               cui.birthday,
               cui.create_time,
               cui.certificate_card,
               cui.certificate_card_address,
               cui.contact_address,
               cui.prov_city_district,
               cui.ancestral,
               cui.email,
               cui.photo,
               cui.position,
               cui.company,
               cui.remark
        FROM ceo_user_info AS cui
        <where>
            cui.id = #{userId}
        </where>
    </select>

    <select id="getStaffInfoByIds" resultType="com.zerody.user.api.vo.StaffInfoVo">
        SELECT
        cui.id,
        cui.user_name,
        cui.role_id,
        cui.role_name,
        cui.phone_number,
        cui.avatar,
        cui.nation,
        cui.highest_education,
        cui.graduated_from,
        cui.graduated_from,
        cui.major,
        cui.marital_status,
        cui.status,
        cui.birthday,
        cui.create_time,
        cui.certificate_card,
        cui.certificate_card_address,
        cui.contact_address,
        cui.prov_city_district,
        cui.ancestral,
        cui.email,
        cui.photo,
        cui.position,
        cui.company,
        cui.remark
        FROM ceo_user_info AS cui
        <where>
            <foreach collection="userIds" item="id" open="cui.id IN (" separator="," close=")">
                #{id}
            </foreach>
        </where>
    </select>
</mapper>
