<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zerody.user.mapper.CeoUserInfoMapper">
    <select id="getCeoPage" resultType="com.zerody.user.vo.BosStaffInfoVo">
        SELECT cui.id,
               cui.role_id,
               cui.role_name,
               cui.user_name,
               cui.phone_number AS phone
        FROM ceo_user_info AS cui
        <where>
            cui.status = 0
              AND cui.deleted = 0
            <if test="param.keyword neq null and param.keyword neq ''">
                AND (
                        cui.phone_number LIKE CONCAT('%', #{param1.keyword}, '%')
                        OR
                        cui.user_name LIKE CONCAT('%', #{param1.keyword}, '%')
                    )
            </if>
        </where>
        ORDER BY cui.create_time DESC
    </select>

    <select id="getCeoInfoByUserId" resultType="com.zerody.user.vo.SysUserInfoVo">
        SELECT cui.id,
               cui.user_name,
               cui.role_id,
               cui.role_name,
               cui.phone_number,
               cui.avatar,
               cui.nation,
               cui.highest_education,
               cui.graduated_from,
               cui.graduated_from,
               cui.major,
               cui.marital_status,
               cui.status,
               cui.birthday,
               cui.create_time,
               cui.certificate_card,
               cui.certificate_card_address,
               cui.contact_address,
               cui.prov_city_district,
               cui.ancestral,
               cui.email,
               cui.photo,
               cui.position,
               cui.company,
               cui.remark,
                cui.im_state
        FROM ceo_user_info AS cui
        <where>
            cui.id = #{userId}
        </where>
    </select>

    <select id="getStaffInfoByIds" resultType="com.zerody.user.api.vo.StaffInfoVo">
        SELECT
        cui.id,
        cui.user_name,
        cui.role_id,
        cui.role_name,
        cui.phone_number,
        cui.avatar,
        cui.nation,
        cui.highest_education,
        cui.graduated_from,
        cui.graduated_from,
        cui.major,
        cui.marital_status,
        cui.status,
        cui.birthday,
        cui.create_time,
        cui.certificate_card,
        cui.certificate_card_address,
        cui.contact_address,
        cui.prov_city_district,
        cui.ancestral,
        cui.email,
        cui.photo,
        cui.position,
        cui.company,
        cui.remark,
        cui.im_state
        FROM ceo_user_info AS cui
        <where>
            <foreach collection="userIds" item="id" open="cui.id IN (" separator="," close=")">
                #{id}
            </foreach>
        </where>
    </select>

    <select id="getAllCeoIds" resultType="java.lang.String">
        SELECT
            id
        from ceo_user_info
        where deleted = 0 and status = 0
    </select>


    <!--获取当天生日的ceo信息-->
    <select id="getCeoBirthdayUserIds" resultType="com.zerody.user.vo.AppCeoUserNotPushVo">
        select cu.id as ceoId, user_name, avatar
         from ceo_user_info as cu
         where cu.status = 0
         <if test="month neq null and month neq ''" >
             and SUBSTRING(certificate_card,11,2)  = #{month}
         </if>
        <if test="day neq null and day neq ''" >
            and SUBSTRING(certificate_card,13,2)  = #{day}
        </if>
    </select>

    <select id="getOtherCEOsBirthdayUser" resultType="com.zerody.user.vo.AppCeoUserNotPushVo">
           select cu.id as ceoId, user_name, avatar
         from ceo_user_info as cu
         where cu.status in (0,3)
         and SUBSTRING(certificate_card,11,2)  &lt;&gt; #{month} and SUBSTRING(certificate_card,13,2)  &lt;&gt; #{day}
    </select>

</mapper>
