<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zerody.user.mapper.MsgMapper">
    <!-- 生成备用 -->
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zerody.user.domain.Msg">
  		 <id column="id" property="id"/>
		<result column="user_id" property="userId"/>
		<result column="create_time" property="createTime"/>
		<result column="message_content" property="messageContent"/>
		<result column="message_tile" property="messageTile"/>
    </resultMap>

    <insert id="saveData" >
        INSERT INTO msg(
			id,
			user_id,
			create_time,
			message_content,
			message_tile
        ) VALUES (
			#{data.id}
			#{data.userId}
			#{data.createTime}
			#{data.messageContent}
			#{data.messageTile}
        )
    </insert>

    <update id="updateData">
        UPDATE msg SET 
			id= #{data.id},
			user_id= #{data.userId},
			create_time= #{data.createTime},
			message_content= #{data.messageContent},
			message_tile= #{data.messageTile}
        WHERE id= #{data.id}
    </update>

    <delete id="deleteData">
        DELETE FROM msg WHERE id= #{data.id}
    </delete>

    <select id="selectDataById" resultMap="BaseResultMap">
        SELECT 
			id,
			user_id,
			create_time,
			message_content,
			message_tile
        FROM msg 
        WHERE id= #{data.id}
    </select>


</mapper>
