<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zerody.user.mapper.PageStyleMapper" >
    <select id="getNowPageStyle" resultType="com.zerody.user.domain.PageStyle">
        SELECT
        id,
        `name`,
        picture_url,
        start_time,
        end_time,
        create_time,
        state,
        `type`
        FROM page_style
        WHERE
        deleted = 0 AND state = 1
        AND NOW() &gt; start_time
        AND NOW() &lt; end_time
        ORDER BY start_time asc
        limit 1
    </select>
    <select id="getAllPageStyle" resultType="com.zerody.user.vo.PageStyleVo">
     SELECT
        id,
        `name`,
        picture_url,
        start_time,
        end_time,
        create_time,
        state,
        `type`
        FROM page_style
        WHERE
        deleted = 0
    </select>
    <select id="getNowPageStyleEstimate" resultType="com.zerody.user.domain.PageStyle">
         SELECT
        id,
        `name`,
        picture_url,
        start_time,
        end_time,
        create_time,
        state,
        `type`
        FROM page_style
        WHERE
        deleted = 0 AND state = 1
        and (
        (end_time  &gt; #{startTime} and start_time &lt;  #{startTime} )
         or
        ( end_time &lt; #{endTime} and start_time  &gt; #{startTime})
        )
        limit 1
    </select>
</mapper>