<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zerody.user.mapper.StaffBlacklistApproverMapper">

    <select id="getBlacklistApproverPage" resultType="com.zerody.user.vo.StaffBlacklistApproverVo">
        select
            id,
            user_id,
            user_name,
            company_id,
            company_name,
            dept_id,
            dept_name,
            post_name,
            mobile,
            identity_card,
            role_id,
            role_name,
            approve_time,
            type,
            submit_user_name,
            reason,
            approve_state
        from
        staff_blacklist_approver as sba
        <where>
            <if test="param.deptId neq null and param.deptId neq ''">
                AND (sba.dept_id = #{param.deptId} OR sba.dept_id LIKE CONCAT(#{param.deptId}, '\_%'))
            </if>
            <if test="param.companyId neq null and param.companyId neq ''">
                AND sba.company_id = #{param.companyId}
            </if>
            <if test="param.userName neq null and param.userName neq ''">
                AND sba.user_name LIKE CONCAT('%', #{param.userName}, '%')
            </if>
            <if test="param.submitUserName neq null and param.submitUserName neq ''">
                AND sba.submit_user_name LIKE CONCAT('%', #{param.submitUserName}, '%')
            </if>
            <if test="param.mobile neq null and param.mobile neq ''">
                AND sba.mobile LIKE CONCAT('%', #{param.mobile}, '%')
            </if>
            <if test="param.approveState neq null">
                AND sba.approve_state = #{param.approveState}
            </if>
            <if test="param.type neq null">
                AND sba.type = #{param.type}
            </if>
        </where>
        order by approve_time desc
    </select>
</mapper>