<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zerody.user.mapper.StaffBlacklistMapper" >
  <resultMap id="BaseResultMap" type="com.zerody.user.domain.StaffBlacklist" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="staff_id" property="staffId" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="approval_time" property="approvalTime" jdbcType="TIMESTAMP" />
    <result column="reason" property="reason" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, staff_id, state, create_time, approval_time, reason
  </sql>
    <resultMap id="BaseResulInfotMap" type="com.zerody.user.vo.FrameworkBlacListQueryPageVo" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="staff_id" property="staffId" jdbcType="VARCHAR" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        <result column="company_name" property="companyName" jdbcType="VARCHAR" />
        <result column="job_name" property="jobName" jdbcType="VARCHAR" />
        <result column="role_name" property="roleName" jdbcType="VARCHAR" />
        <result column="applicant_name" property="applicantName" jdbcType="VARCHAR" />
        <result column="applicant_role_name" property="applicantRoleName" jdbcType="VARCHAR" />
        <result column="reason" property="reason" jdbcType="VARCHAR" />
        <result column="avatar" property="avatar" jdbcType="VARCHAR" />
        <result column="mobile" property="mobile" jdbcType="VARCHAR" />
        <result column="depart_name" property="departName" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="approval_time" property="approvalTime" jdbcType="TIMESTAMP" />
        <result column="state" property="state" jdbcType="VARCHAR" />
        <result column="process_id" property="processId" jdbcType="VARCHAR" />
        <result column="process_key" property="processKey" jdbcType="VARCHAR" />
        <result column="identity_card" property="identityCard" jdbcType="VARCHAR" />
        <result column="identityCard2" property="identityCard2" jdbcType="VARCHAR" />
        <result column="type" property="type" />
        <result column="image_type"  jdbcType="VARCHAR" />
        <result column="sb_id"   property="blackId" jdbcType="VARCHAR" />
        <collection property="images" ofType="string" column="{connectId = sb_id, imageType = image_type}" select="com.zerody.user.mapper.ImageMapper.getImageListByConnectIdAndType" javaType="java.util.ArrayList">
             <result column="image_url"  jdbcType="VARCHAR" />
        </collection>
    </resultMap>
  <select id="getPageBlackList" resultMap="BaseResulInfotMap">
    SELECT
        sui.id,
        ssi.id AS staff_id,
        sb.user_name,
        sci.company_name,
        sjp.position_name AS job_name,
        urs.role_name,
        sb.submit_user_name AS applicant_name,
        urs2.role_name AS applicant_role_name,
        sb.reason,
        ssi.avatar,
        sui.phone_number AS mobile,
        sdi.depart_name,
        sb.create_time,
        sb.approval_time,
        sb.state,
        sb.process_id,
        sb.process_key,
        sb.type,
        sb.identity_card as identity_card,
        sui.certificate_card as identityCard2,
        sb.id AS sb_id,
        'staff-blacklist' AS image_type
    FROM
        staff_blacklist AS sb
    LEFT JOIN sys_staff_info AS ssi ON ssi.user_id = sb.user_id
    LEFT JOIN sys_company_info AS sci ON ssi.comp_id = sci.id
    LEFT JOIN sys_user_info AS sui ON ssi.user_id = sui.id
    LEFT JOIN union_role_staff AS urs ON urs.staff_id = ssi.id
    LEFT JOIN union_staff_depart AS usd ON usd.staff_id = ssi.id
    LEFT JOIN sys_department_info AS sdi ON sdi.id = usd.department_id
    LEFT JOIN union_staff_position AS usp ON usp.staff_id = ssi.id
    LEFT JOIN sys_job_position AS sjp ON sjp.id = usp.position_id
    LEFT JOIN sys_staff_info AS ssi2 ON ssi2.user_id = sb.submit_user_id
    LEFT JOIN union_role_staff AS urs2 ON urs2.staff_id = ssi2.id
    LEFT JOIN union_staff_depart AS usd2 ON usd2.staff_id = ssi2.id
    <where>
      <if test="param.companyId neq null and param.companyId neq ''">
            AND sb.company_id = #{param.companyId}
      </if>
      <if test="param.departId neq null and param.departId neq '' and param.queryDimensionality eq 'submitUser'">
            AND usd2.department_id LIKE CONCAT(#{param.departId}, '%')
      </if>
      <if test="param.userId neq null and param.userId neq ''  and param.queryDimensionality eq 'submitUser'">
            AND ssi2.user_id = #{param.userId}
      </if>
      <if test="param.userName neq null and param.userName neq '' ">
            AND sui.user_name LIKE CONCAT('%', #{param.userName}, '%')
      </if>
    <if test="param.departId neq null and param.departId neq '' and param.queryDimensionality eq 'blockUser'">
        AND usd.department_id LIKE CONCAT(#{param.departId}, '%')
    </if>
    <if test="param.userId neq null and param.userId neq ''  and param.queryDimensionality eq 'blockUser'">
        AND ssi.user_id = #{param.userId}
    </if>
        <if test="param.queryDimensionality eq 'blockUser' and  param.type eq null">
           AND sb.type = 1 OR sb.type = 2
        </if>
        <if test="param.queryDimensionality eq 'blockUser' and  param.type neq null">
            AND sb.type = #{param.type}
        </if>
      <if test="param.mobile neq null and param.mobile neq ''">
            AND sui.phone_number LIKE CONCAT('%', #{param.mobile}, '%')
      </if>
      <if test="param.state neq null and param.state neq ''">
            AND sb.state = #{param.state}
      </if>
    </where>
  </select>
    <select id="getBlacklistByMobile" resultType="java.lang.String">
        SELECT
            sci.company_name
        FROM
            staff_blacklist AS sb
        JOIN sys_staff_info AS ssi ON ssi.user_id = sb.user_id
        JOIN sys_company_info AS sci ON sci.id = ssi.comp_id
        <where>
            sb.state = 'BLOCK'
            AND
            sb.mobile = #{mobile}
        </where>
    </select>
</mapper>
