<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zerody.user.mapper.StaffBlacklistMapper" >
  <resultMap id="BaseResultMap" type="com.zerody.user.domain.StaffBlacklist" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <!--<result column="staff_id" property="staffId" jdbcType="VARCHAR" />-->
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="approval_time" property="approvalTime" jdbcType="TIMESTAMP" />
    <result column="reason" property="reason" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, mobile, state, create_time, approval_time, reason
  </sql>
    <resultMap id="BaseResulInfotMap" type="com.zerody.user.vo.FrameworkBlacListQueryPageVo" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="staff_id" property="staffId" jdbcType="VARCHAR" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        <result column="company_name" property="companyName" jdbcType="VARCHAR" />
        <result column="job_name" property="jobName" jdbcType="VARCHAR" />
        <result column="role_name" property="roleName" jdbcType="VARCHAR" />
        <result column="applicant_name" property="applicantName" jdbcType="VARCHAR" />
        <result column="applicant_role_name" property="applicantRoleName" jdbcType="VARCHAR" />
        <result column="reason" property="reason" jdbcType="VARCHAR" />
        <result column="avatar" property="avatar" jdbcType="VARCHAR" />
        <result column="mobile" property="mobile" jdbcType="VARCHAR" />
        <result column="depart_name" property="departName" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="approval_time" property="approvalTime" jdbcType="TIMESTAMP" />
        <result column="state" property="state" jdbcType="VARCHAR" />
        <result column="process_id" property="processId" jdbcType="VARCHAR" />
        <result column="process_key" property="processKey" jdbcType="VARCHAR" />
        <result column="identity_card" property="identityCard" jdbcType="VARCHAR" />
        <result column="is_approve" property="isApprove" jdbcType="VARCHAR" />
        <result column="relieve_id" property="relieveId" jdbcType="VARCHAR" />
        <result column="relieve_key" property="relieveKey" jdbcType="VARCHAR" />
        <result column="identityCard2" property="identityCard2" jdbcType="VARCHAR" />
        <result column="type" property="type" />
        <result column="image_type"  jdbcType="VARCHAR" />
        <result column="sb_id"   property="blackId" jdbcType="VARCHAR" />
        <collection property="images" ofType="string" column="{connectId = sb_id, imageType = image_type}" select="com.zerody.user.mapper.ImageMapper.getImageListByConnectIdAndType" javaType="java.util.ArrayList">
             <result column="image_url"  jdbcType="VARCHAR" />
        </collection>
    </resultMap>

  <select id="getPageBlackList" resultMap="BaseResulInfotMap">
    SELECT
        sui.id,
        ssi.id AS staff_id,
        sb.user_name,
        sci.company_name,
        sjp.position_name AS job_name,
        urs.role_name,
        sb.submit_user_name AS applicant_name,
        urs2.role_name AS applicant_role_name,
        sb.reason,
        ssi.avatar,
        sb.mobile,
        sdi.depart_name,
        sb.create_time,
        sb.approval_time,
        sb.state,
        sb.process_id,
        sb.process_key,
        sb.company_id,
        sb.type,
        sb.identity_card as identity_card,
        IFNULL(sui.certificate_card, sb.identity_card) as identityCard2,
        sb.id AS sb_id,
        sb.is_approve,
        sb.relieve_id ,
        sb.relieve_key ,
        'staff-blacklist' AS image_type
    FROM
        staff_blacklist AS sb
    LEFT JOIN sys_staff_info AS ssi ON ssi.user_id = sb.user_id
    LEFT JOIN sys_company_info AS sci ON sb.company_id = sci.id
    LEFT JOIN sys_user_info AS sui ON ssi.user_id = sui.id
    LEFT JOIN union_role_staff AS urs ON urs.staff_id = ssi.id
    LEFT JOIN union_staff_depart AS usd ON usd.staff_id = ssi.id
    LEFT JOIN sys_department_info AS sdi ON sdi.id = usd.department_id
    LEFT JOIN union_staff_position AS usp ON usp.staff_id = ssi.id
    LEFT JOIN sys_job_position AS sjp ON sjp.id = usp.position_id
    LEFT JOIN sys_staff_info AS ssi2 ON ssi2.user_id = sb.submit_user_id
    LEFT JOIN union_role_staff AS urs2 ON urs2.staff_id = ssi2.id
    LEFT JOIN union_staff_depart AS usd2 ON usd2.staff_id = ssi2.id
    <where>
        sb.state='BLOCK'
      <if test="param.companyId neq null and param.companyId neq ''">
        AND sb.company_id = #{param.companyId}
      </if>

      <if test="param.keyword neq null and param.keyword neq ''">
          AND (
              sb.user_name LIKE CONCAT('%', #{param.keyword}, '%')
              or sb.mobile LIKE CONCAT('%', #{param.keyword}, '%')
          )
      </if>
      <if test="param.companyIds neq null and param.companyIds.size() gt 0">
        AND sb.company_id
        <foreach collection="param.companyIds" item="id" open="IN (" separator="," close=")">
            #{id}
        </foreach>
      </if>
      <if test="param.departId neq null and param.departId neq '' and param.queryDimensionality eq 'submitUser'">
            AND (usd2.department_id LIKE CONCAT(#{param.departId}, '\_%') or usd2.department_id=#{param.departId})
      </if>
      <if test="param.userId neq null and param.userId neq ''  and param.queryDimensionality eq 'submitUser'">
            AND ssi2.user_id = #{param.userId}
      </if>
      <if test="param.userName neq null and param.userName neq '' ">
            AND sb.user_name LIKE CONCAT('%', #{param.userName}, '%')
      </if>
    <if test="param.departId neq null and param.departId neq '' and param.queryDimensionality eq 'blockUser'">
        AND (usd.department_id LIKE CONCAT(#{param.departId}, '\_%') or usd.department_id=#{param.departId})
    </if>
    <if test="param.userId neq null and param.userId neq ''  and param.queryDimensionality eq 'blockUser'">
        AND ssi.user_id = #{param.userId}
    </if>
        <if test="param.queryDimensionality eq 'blockUser' and  param.type eq null">
           AND (sb.type = 1 OR sb.type = 2)
        </if>
        <if test="param.queryDimensionality eq 'blockUser' and  param.type neq null">
            AND sb.type = #{param.type}
        </if>
      <if test="param.mobile neq null and param.mobile neq ''">
            AND sb.mobile LIKE CONCAT('%', #{param.mobile}, '%')
      </if>
      <if test="param.state neq null and param.state neq ''">
            AND sb.state = #{param.state}
      </if>
    </where>
      ORDER BY sb.approval_time DESC
  </select>

    <select id="getBlacklistByMobile" resultType="com.zerody.user.vo.MobileBlacklistQueryVo">
        SELECT
            DISTINCT sui.id AS id,
            ssi.user_name AS userName,
            sci.company_name AS companyName,
            sui.phone_number,
            sdi.depart_name AS departName,
            ssi.status AS staffStatus,
            sb.id is not null as is_block,
            sb.reason
        FROM
        sys_user_info sui
        JOIN sys_staff_info ssi ON sui.id = ssi.user_id
        LEFT JOIN sys_company_info sci ON sci.id = ssi.comp_id
        LEFT JOIN union_role_staff urs ON urs.staff_id = ssi.id
        LEFT JOIN union_staff_depart usd ON usd.staff_id = ssi.id
        LEFT JOIN sys_department_info sdi ON usd.department_id = sdi.id and sdi.status = 0
        LEFT JOIN staff_blacklist AS sb ON (sb.mobile = sui.phone_number or sb.identity_card = sui.certificate_card)  AND sb.state = 'BLOCK'
        <where>
            ssi.deleted = 0 and sui.status != -1
            <if test="param.mobile neq null and param.mobile neq ''">
                AND sui.phone_number = #{param.mobile}
            </if>
            <if test="param.IdentityCard neq null and param.IdentityCard neq ''">
                AND sui.certificate_card = #{param.IdentityCard}
            </if>
            limit 0,1
        </where>
    </select>


    <select id="updateInternalControl" resultType="com.zerody.user.vo.InternalControlVo">
        select
        ssi.user_id,
        ssi.user_name,
        ssi.id AS staffId,
        sci.company_name,
        sui.phone_number AS phone,
        sci.id is not null AS isInternalControl,
        sui.certificate_card,
        sdi.depart_name,
        ssi.comp_id as companyId,
        urs.role_name
        from
        sys_staff_info AS ssi
        LEFT JOIN sys_user_info AS sui ON ssi.user_id = sui.id
        LEFT JOIN sys_company_info AS sci ON ssi.comp_id = sci.id
        LEFT JOIN union_staff_depart AS usd ON ssi.id=usd.staff_id
        LEFT JOIN sys_department_info AS sdi ON sdi.id=usd.department_id
        LEFT JOIN union_role_staff AS urs ON ssi.id=urs.staff_id
        <where>
            <if test="param.phoneNumber neq null and param.phoneNumber neq ''">
                AND sui.phone_number = #{param.phoneNumber}
            </if>
            <if test="param.certificateCard neq null and param.certificateCard neq ''">
                AND sui.certificate_card = #{param.certificateCard}
            </if>
            order by sui.create_time desc
            limit 0,1
        </where>

    </select>
</mapper>
