<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zerody.user.mapper.SysAuthRoleInfoMapper" >
  <resultMap id="BaseResultMap" type="com.zerody.user.pojo.SysAuthRoleInfo" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="comp_id" property="compId" jdbcType="VARCHAR" />
    <result column="role_name" property="roleName" jdbcType="VARCHAR" />
    <result column="role_code" property="roleCode" jdbcType="VARCHAR" />
    <result column="role_type" property="roleType" jdbcType="VARCHAR" />
    <result column="role_tag" property="roleTag" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="create_id" property="createId" jdbcType="VARCHAR" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_id" property="updateId" jdbcType="VARCHAR" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="role_validity_period" property="roleValidityPeriod" jdbcType="TIMESTAMP" />
    <result column="parent_id" property="parentId" jdbcType="VARCHAR" />
    <result column="role_validity_start" property="roleValidityStart" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.zerody.user.pojo.SysAuthRoleInfo" extends="BaseResultMap" >
    <result column="role_desc" property="roleDesc" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, comp_id, role_name, role_code, role_type, role_tag, status, create_id, create_user, 
    create_time, update_id, update_user, update_time, role_validity_period, parent_id, 
    role_validity_start
  </sql>
  <sql id="Blob_Column_List" >
    role_desc
  </sql>

  <select id="selectRolesByStaffId" resultType="com.zerody.user.vo.SysAuthRoleInfoVo">
    SELECT
        role.id,
        role.comp_id,
        role.role_name,
        role.role_code,
        role.role_type,
        role.role_tag
    from sys_auth_role_info role
    JOIN union_role_staff rs on rs.role_id = role.id
    <where>
        role.status = 1
    </where>
    <if test="staff != null and staff !=''">
      and rs.staff_id = #{staffId}
    </if>
  </select>

    <select id="selectRolePage" resultType="com.zerody.user.vo.SysAuthRoleInfoVo">
        SELECT
            id,
            comp_id,
            role_name,
            role_code,
            role_type,
            role_tag,
            STATUS
        from
            sys_auth_role_info
        <where>
            status = 1
        </where>
    </select>
</mapper>