<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zerody.user.mapper.SysAuthMenuMapper" >
  <resultMap id="BaseResultMap" type="com.zerody.user.pojo.SysAuthMenu" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="sys_id" property="sysId" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="VARCHAR" />
    <result column="menu_name" property="menuName" jdbcType="VARCHAR" />
    <result column="menu_code" property="menuCode" jdbcType="VARCHAR" />
    <result column="menu_layer" property="menuLayer" jdbcType="TINYINT" />
    <result column="menu_sort" property="menuSort" jdbcType="TINYINT" />
    <result column="menu_type" property="menuType" jdbcType="TINYINT" />
    <result column="menu_icon" property="menuIcon" jdbcType="VARCHAR" />
    <result column="menu_uri" property="menuUri" jdbcType="VARCHAR" />
    <result column="is_show" property="isShow" jdbcType="BIT" />
    <result column="create_id" property="createId" jdbcType="VARCHAR" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_id" property="updateId" jdbcType="VARCHAR" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="TINYINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.zerody.user.pojo.SysAuthMenu" extends="BaseResultMap" >
    <result column="menu_desc" property="menuDesc" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sys_id, parent_id, menu_name, menu_code, menu_layer, menu_sort, menu_type, menu_icon, 
    menu_uri, is_show, create_id, create_user, create_time, update_id, update_user, update_time, 
    status
  </sql>
  <sql id="Blob_Column_List" >
    menu_desc
  </sql>

  <select id="selectCodeAdmin" resultType="String">
    select
    menu_code
    from
    sys_auth_menu
    <where>
      status = 1
    </where>
  </select>

  <select id="selectCodeByRoleId" resultType="String">
    SELECT
        menu_code
    FROM
        sys_auth_menu m
    JOIN union_menu_role rm ON rm.menu_id = m.id
    <where>
       m.status = 1
       <if test="roles != null">
        AND  rm.role_id
         <foreach collection="roles" item="role" separator="," open="in (" close=")">
            #{role.id}
         </foreach>
       </if>
    </where>
  </select>
</mapper>