<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zerody.user.mapper.SysAddressBookMapper">

    <select id="queryAddressBook" resultType="com.zerody.user.vo.SysAddressBookVo">
    	 SELECT
            COUNT( sui.id )as staffCountId ,
            sci.company_name,
            sci.id as compId
         FROM
         sys_company_info AS sci
	     LEFT JOIN sys_staff_info AS ssi ON sci.id = ssi.comp_id
         LEFT JOIN sys_user_info AS sui  ON ssi.user_id = sui.id  and ( sui.`status` = 0 OR sui.`status` = 3 )
         where sci.status=0
        <if test="companyIds neq null and companyIds.size() gt 0">
            AND sci.id
            <foreach collection="companyIds" item="id" open="IN (" separator="," close=")">
                #{id}
            </foreach>
        </if>
        <if test="isProData neq null">
            AND sci.is_pro_data=#{isProData}
        </if>
         GROUP BY
              sci.id;
  </select>

    <!--获取企业列表-->
    <select id="queryCompanyList" resultType="com.zerody.user.vo.SysAddressBookVo">
        SELECT distinct sci.company_name, sci.id as compId FROM sys_company_info AS sci
        LEFT JOIN sys_staff_info AS ssi ON sci.id = ssi.comp_id
        LEFT JOIN sys_user_info AS sui  ON ssi.user_id = sui.id and ( sui.`status` = 0 OR sui.`status` = 3 )
        <where>
            sci.status =0 and sci.is_pro_data =1
            <if test="param.companyId neq null and param.companyId neq ''">
               and sci.id = #{param.companyId}
            </if>
            <if test="param.companyIds neq null and param.companyIds.size() gt 0">
                and sci.id
                <foreach collection="param.companyIds" item="id" open="IN (" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>

    <!--分页获取企业列表-->
    <select id="pageCompanyList" resultType="com.zerody.user.vo.SignSummaryVo">
        SELECT distinct sci.company_name as name, sci.id as companyId FROM sys_company_info AS sci
        LEFT JOIN sys_staff_info AS ssi ON sci.id = ssi.comp_id
        LEFT JOIN sys_user_info AS sui  ON ssi.user_id = sui.id and ( sui.`status` = 0 OR sui.`status` = 3 )
        <where>
            sci.status =0 and sci.is_pro_data =1
            <if test="param.companyId neq null and param.companyId neq ''">
                and sci.id = #{param.companyId}
            </if>
            <if test="param.companyIds neq null and param.companyIds.size() gt 0">
                and sci.id
                <foreach collection="param.companyIds" item="id" open="IN (" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>

    <!--根据企业id查询部门信息-->
    <select id="queryDepartInfo" resultType="com.zerody.user.vo.DepartInfoVo">
        SELECT
        COUNT( sui.id )AS staffCountId,
        sdi.depart_name,
        sci.company_name,
        sdi.id AS departmentId,
        ssis.user_name,
        sci.id AS copmId,
        ssi.user_type,
        sui.id AS userId
        FROM
        sys_company_info AS sci
        LEFT JOIN sys_department_info AS sdi ON sdi.comp_id = sci.id AND sdi.`status`!='-1'
        LEFT JOIN union_staff_depart AS usd ON (sdi.id = usd.department_id OR usd.department_id LIKE CONCAT(sdi.id, '\_%'))
        LEFT JOIN sys_staff_info AS ssi ON usd.staff_id = ssi.id and ssi.comp_id = sci.id
        LEFT JOIN sys_user_info AS sui ON ssi.user_id = sui.id and ( sui.`status` = 0 OR sui.`status` = 3 )
        LEFT JOIN sys_staff_info AS ssis ON sdi.admin_account=ssis.id
        WHERE (sdi.parent_id IS NULL OR sdi.parent_id='')
        <if test="param.compId neq null and param.compId neq ''">
            AND sci.id=#{param.compId}
        </if>
        <if test="param.userType neq null">
            AND ssi.user_type=#{param.userType}
        </if>
        <if test="param.status neq null">
            AND ssi.status=#{param.status}
        </if>
        <if test="param.userName neq null and param.userName neq ''">
            AND sui.user_name=#{param.userName}
        </if>
        <if test="param.phoneNumber neq null and param.phoneNumber neq ''">
            AND sui.phone_number=#{param.phoneNumber}
        </if>

        GROUP BY
        sdi.id;

    </select>

   <!-- 查询团队-->
    <select id="queryTeam" resultType="com.zerody.user.vo.DepartInfoVo">
        SELECT
        COUNT( sui.id )AS staffCountId,
        sdi.depart_name,
        sci.company_name,
        sdi.id AS departmentId,
        ssis.user_name,
        sci.id AS copmId,
        ssi.user_type,
        sui.id AS userId
        FROM
        sys_company_info AS sci
        LEFT JOIN sys_department_info AS sdi ON sdi.comp_id = sci.id AND sdi.`status`!='-1'
        LEFT JOIN union_staff_depart AS usd ON  (sdi.id = usd.department_id OR usd.department_id LIKE CONCAT(sdi.id, '\_%'))
        LEFT JOIN sys_staff_info AS ssi ON usd.staff_id = ssi.id and ssi.comp_id = sci.id
        LEFT JOIN sys_user_info AS sui ON ssi.user_id = sui.id and ( sui.`status` = 0 OR sui.`status` = 3 )
        LEFT JOIN sys_staff_info AS ssis ON sdi.admin_account=ssis.id
        WHERE sdi.parent_id IS NOT NULL AND sdi.parent_id!=''
        <if test="param.departmentId neq null and param.departmentId neq ''">
            AND sdi.parent_id=#{param.departmentId}
        </if>
        <if test="param.compId neq null and param.compId neq ''">
            AND sci.id=#{param.compId}
        </if>
        <if test="param.userType neq null">
            AND ssi.user_type=#{param.userType}
        </if>
        <if test="param.status neq null">
            AND ssi.status=#{param.status}
        </if>
        <if test="param.userName neq null and param.userName neq ''">
            AND sui.user_name=#{param.userName}
        </if>
        <if test="param.phoneNumber neq null and param.phoneNumber neq ''">
            AND sui.phone_number=#{param.phoneNumber}
        </if>

        GROUP BY
        sdi.id;
    </select>


    <!--查询员工-->
    <select id="getStaffByCompany" resultType="com.zerody.user.vo.StaffInfoByAddressBookVo">
        SELECT
        sui.id AS id,
        ssi.avatar AS avatar,
        sui.avatar AS userAvatar,
        ssi.user_type,
        ssi.user_name AS userName,
        sui.phone_number AS phone,
        sjp.position_name AS positionName,
        urs.role_name AS roleName,
        sdi.depart_name AS departName,
        sci.company_name AS companyName,
        ssi.id AS staffId,
        ssi.status,
        sui.is_prepare_executive AS isPrepareExecutive,
        ssi.is_diamond_member
        FROM
        sys_staff_info ssi
        LEFT JOIN sys_user_info sui ON sui.id=ssi.user_id
        LEFT JOIN sys_company_info sci ON sci.id=ssi.comp_id
        LEFT JOIN union_role_staff urs ON urs.staff_id=ssi.id
        LEFT JOIN union_staff_position usp ON usp.staff_id = ssi.id
        LEFT JOIN sys_job_position sjp ON sjp.id = usp.position_id
        LEFT JOIN union_staff_depart usd ON usd.staff_id = ssi.id
        LEFT JOIN sys_department_info sdi ON sdi.id = usd.department_id
        <if test="param.isSecondContract neq null and param.isSecondContract eq 1">
            LEFT JOIN user_induction_record uir ON uir.leave_user_id = sui.id
        </if>
        <where>
            <choose>
                <when test="param.isQuit neq null and param.isQuit eq 1"> sui.status = 1</when>
                <when test="param.isShowLeave eq null or param.isShowLeave eq 0">  sui.status IN (0, 3)</when>
                <when test="param.isShowLeave neq null and param.isShowLeave eq 1">  sui.status IN (0, 1, 3)</when>
            </choose>
            <if test="param.companyId != null and param.companyId != ''">
                and ssi.comp_id = #{param.companyId}
            </if>
            <if test="param.userType neq null and param.userType neq ''">
                and ssi.user_type = #{param.userType}
            </if>
            <if test="param.status neq null">
                and ssi.status = #{param.status}
            </if>
            <if test="param.status neq null and param.status eq 0">
                and ssi.status IN (0, 3)
            </if>
            <if test="param.departmentId neq null and param.departmentId neq ''">
                and (sdi.id = #{param.departmentId} OR sdi.id LIKE CONCAT(#{param.departmentId}, '\_%'))
            </if>
            <if test="param.companyIds neq null and param.companyIds.size() gt 0">
                AND sci.id
                <foreach collection="param.companyIds" item="id" open="IN (" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            <if test="param.isProData neq null">
                AND sci.is_pro_data=#{param.isProData}
            </if>
            <if test="param.isDiamondMember neq null">
                AND ssi.is_diamond_member=#{param.isDiamondMember}
            </if>
            <if test="param.isPrepareExecutive neq null">
                AND sui.is_prepare_executive=#{param.isPrepareExecutive}
            </if>
            <if test="param.isSecondContract neq null and param.isSecondContract eq 1">
                AND uir.approve_state='SUCCESS'
            </if>
        </where>
    </select>

    <!--获取离职伙伴列表明细-->
    <select id="getDepartureUserList" resultType="com.zerody.user.vo.DepartureDetailsVo" parameterType="com.zerody.user.dto.DepartureDetailsDto">
        select sui.id AS id, ssi.user_type, ssi.user_name AS userName, sui.phone_number AS phone, sdi.depart_name AS departName,
        sci.company_name AS companyName, ssi.id AS staffId, ssi.leave_reason, ssi.leave_type, ssi.date_join, ssi.date_left
        from sys_staff_info ssi
        JOIN sys_user_info sui ON sui.id = ssi.user_id
        LEFT JOIN sys_company_info sci ON sci.id = ssi.comp_id
        LEFT JOIN union_staff_position usp ON usp.staff_id = ssi.id
        LEFT JOIN union_staff_depart usd ON usd.staff_id = ssi.id
        LEFT JOIN sys_department_info sdi ON sdi.id = usd.department_id
        <where>
            ssi.deleted =0 and sui.status !=-1 and ssi.status = 1
            <if test="param.searchName != null and param.searchName != ''">
                and (ssi.user_name  like CONCAT('%', #{param.searchName} ,'%')
                or sui.phone_number like CONCAT('%', #{param.searchName}, '%'))
            </if>
            <if test="param.userType neq null">
                and ssi.user_type = #{param.userType}
            </if>
            <if test="param.status neq null">
                and ssi.status = #{param.status}
            </if>
            <if test="param.leaveTypeIds neq null and param.leaveTypeIds.size() gt 0">
                AND ssi.leave_type
                <foreach collection="param.leaveTypeIds" item="id" open="IN (" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            <if test="param.companyId != null and param.companyId != ''">
                and ssi.comp_id = #{param.companyId}
            </if>
            <if test="param.departmentId neq null and param.departmentId neq ''">
                and (sdi.id = #{param.departmentId} OR sdi.id LIKE CONCAT(#{param.departmentId}, '\_%'))
            </if>
            <if test="param.companyIds neq null and param.companyIds.size() gt 0">
                AND ssi.comp_id
                <foreach collection="param.companyIds" item="id" open="IN (" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            <if test="param.begin neq null">
                AND ssi.date_left &gt;= #{param.begin}
            </if>
            <if test="param.end neq null">
                AND ssi.date_left &lt; #{param.end}
            </if>
            order by ssi.date_left desc
        </where>
    </select>

</mapper>
