<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zerody.user.mapper.SysCompanyInfoMapper" >
  <resultMap id="BaseResultMap" type="com.zerody.user.pojo.SysCompanyInfo" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="bloc_id" property="blocId" jdbcType="VARCHAR" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="company_code" property="companyCode" jdbcType="VARCHAR" />
    <result column="company_short_name" property="companyShortName" jdbcType="VARCHAR" />
    <result column="registered_capital" property="registeredCapital" jdbcType="VARCHAR" />
    <result column="enterprise_nature" property="enterpriseNature" jdbcType="VARCHAR" />
    <result column="is_tax_payer" property="isTaxPayer" jdbcType="TINYINT" />
    <result column="company_addr_province_code" property="companyAddrProvinceCode" jdbcType="VARCHAR" />
    <result column="company_address_city_code" property="companyAddressCityCode" jdbcType="VARCHAR" />
    <result column="company_address_area_code" property="companyAddressAreaCode" jdbcType="VARCHAR" />
    <result column="company_address" property="companyAddress" jdbcType="VARCHAR" />
    <result column="enterprise_email" property="enterpriseEmail" jdbcType="VARCHAR" />
    <result column="business_landline_number" property="businessLandlineNumber" jdbcType="VARCHAR" />
    <result column="contact_name" property="contactName" jdbcType="VARCHAR" />
    <result column="contact_phone" property="contactPhone" jdbcType="VARCHAR" />
    <result column="contact_mail" property="contactMail" jdbcType="VARCHAR" />
    <result column="taxpayer_identification_number" property="taxpayerIdentificationNumber" jdbcType="VARCHAR" />
    <result column="business_license_address" property="businessLicenseAddress" jdbcType="VARCHAR" />
    <result column="business_license_code" property="businessLicenseCode" jdbcType="VARCHAR" />
    <result column="business_license_url" property="businessLicenseUrl" jdbcType="VARCHAR" />
    <result column="business_license_valid" property="businessLicenseValid" jdbcType="VARCHAR" />
    <result column="legal_representative" property="legalRepresentative" jdbcType="VARCHAR" />
    <result column="legal_personcert_no" property="legalPersoncertNo" jdbcType="VARCHAR" />
    <result column="company_type" property="companyType" jdbcType="TINYINT" />
    <result column="parent_company_info_id" property="parentCompanyInfoId" jdbcType="VARCHAR" />
    <result column="admin_account" property="adminAccount" jdbcType="VARCHAR" />
    <result column="create_id" property="createId" jdbcType="VARCHAR" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_id" property="updateId" jdbcType="VARCHAR" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="remark_" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.zerody.user.pojo.SysCompanyInfo" extends="BaseResultMap" >
    <result column="company_introduction" property="companyIntroduction" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, bloc_id, company_name, company_code, company_short_name, registered_capital, 
    enterprise_nature, is_tax_payer, company_addr_province_code, company_address_city_code, 
    company_address_area_code, company_address, enterprise_email, business_landline_number, 
    contact_name, contact_phone, contact_mail, taxpayer_identification_number, business_license_address, 
    business_license_code, business_license_url, business_license_valid, legal_representative, 
    legal_personcert_no, company_type, parent_company_info_id, admin_account, create_id, 
    create_user, create_time, update_id, update_user, update_time, status, remark_
  </sql>
  <sql id="Blob_Column_List" >
    company_introduction
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sys_company_info
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_company_info
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zerody.user.pojo.SysCompanyInfo" >
    insert into sys_company_info (id, bloc_id, company_name, 
      company_code, company_short_name, registered_capital, 
      enterprise_nature, is_tax_payer, company_addr_province_code, 
      company_address_city_code, company_address_area_code, 
      company_address, enterprise_email, business_landline_number, 
      contact_name, contact_phone, contact_mail, 
      taxpayer_identification_number, business_license_address, 
      business_license_code, business_license_url, 
      business_license_valid, legal_representative, 
      legal_personcert_no, company_type, parent_company_info_id, 
      admin_account, create_id, create_user, 
      create_time, update_id, update_user, 
      update_time, status, remark_, 
      company_introduction)
    values (#{id,jdbcType=VARCHAR}, #{blocId,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR}, 
      #{companyCode,jdbcType=VARCHAR}, #{companyShortName,jdbcType=VARCHAR}, #{registeredCapital,jdbcType=VARCHAR}, 
      #{enterpriseNature,jdbcType=VARCHAR}, #{isTaxPayer,jdbcType=TINYINT}, #{companyAddrProvinceCode,jdbcType=VARCHAR}, 
      #{companyAddressCityCode,jdbcType=VARCHAR}, #{companyAddressAreaCode,jdbcType=VARCHAR}, 
      #{companyAddress,jdbcType=VARCHAR}, #{enterpriseEmail,jdbcType=VARCHAR}, #{businessLandlineNumber,jdbcType=VARCHAR}, 
      #{contactName,jdbcType=VARCHAR}, #{contactPhone,jdbcType=VARCHAR}, #{contactMail,jdbcType=VARCHAR}, 
      #{taxpayerIdentificationNumber,jdbcType=VARCHAR}, #{businessLicenseAddress,jdbcType=VARCHAR}, 
      #{businessLicenseCode,jdbcType=VARCHAR}, #{businessLicenseUrl,jdbcType=VARCHAR}, 
      #{businessLicenseValid,jdbcType=VARCHAR}, #{legalRepresentative,jdbcType=VARCHAR}, 
      #{legalPersoncertNo,jdbcType=VARCHAR}, #{companyType,jdbcType=TINYINT}, #{parentCompanyInfoId,jdbcType=VARCHAR}, 
      #{adminAccount,jdbcType=VARCHAR}, #{createId,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateId,jdbcType=VARCHAR}, #{updateUser,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{status,jdbcType=TINYINT}, #{remark,jdbcType=VARCHAR}, 
      #{companyIntroduction,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zerody.user.pojo.SysCompanyInfo" >
    insert into sys_company_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="blocId != null" >
        bloc_id,
      </if>
      <if test="companyName != null" >
        company_name,
      </if>
      <if test="companyCode != null" >
        company_code,
      </if>
      <if test="companyShortName != null" >
        company_short_name,
      </if>
      <if test="registeredCapital != null" >
        registered_capital,
      </if>
      <if test="enterpriseNature != null" >
        enterprise_nature,
      </if>
      <if test="isTaxPayer != null" >
        is_tax_payer,
      </if>
      <if test="companyAddrProvinceCode != null" >
        company_addr_province_code,
      </if>
      <if test="companyAddressCityCode != null" >
        company_address_city_code,
      </if>
      <if test="companyAddressAreaCode != null" >
        company_address_area_code,
      </if>
      <if test="companyAddress != null" >
        company_address,
      </if>
      <if test="enterpriseEmail != null" >
        enterprise_email,
      </if>
      <if test="businessLandlineNumber != null" >
        business_landline_number,
      </if>
      <if test="contactName != null" >
        contact_name,
      </if>
      <if test="contactPhone != null" >
        contact_phone,
      </if>
      <if test="contactMail != null" >
        contact_mail,
      </if>
      <if test="taxpayerIdentificationNumber != null" >
        taxpayer_identification_number,
      </if>
      <if test="businessLicenseAddress != null" >
        business_license_address,
      </if>
      <if test="businessLicenseCode != null" >
        business_license_code,
      </if>
      <if test="businessLicenseUrl != null" >
        business_license_url,
      </if>
      <if test="businessLicenseValid != null" >
        business_license_valid,
      </if>
      <if test="legalRepresentative != null" >
        legal_representative,
      </if>
      <if test="legalPersoncertNo != null" >
        legal_personcert_no,
      </if>
      <if test="companyType != null" >
        company_type,
      </if>
      <if test="parentCompanyInfoId != null" >
        parent_company_info_id,
      </if>
      <if test="adminAccount != null" >
        admin_account,
      </if>
      <if test="createId != null" >
        create_id,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateId != null" >
        update_id,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="remark != null" >
        remark_,
      </if>
      <if test="companyIntroduction != null" >
        company_introduction,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="blocId != null" >
        #{blocId,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="companyCode != null" >
        #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="companyShortName != null" >
        #{companyShortName,jdbcType=VARCHAR},
      </if>
      <if test="registeredCapital != null" >
        #{registeredCapital,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseNature != null" >
        #{enterpriseNature,jdbcType=VARCHAR},
      </if>
      <if test="isTaxPayer != null" >
        #{isTaxPayer,jdbcType=TINYINT},
      </if>
      <if test="companyAddrProvinceCode != null" >
        #{companyAddrProvinceCode,jdbcType=VARCHAR},
      </if>
      <if test="companyAddressCityCode != null" >
        #{companyAddressCityCode,jdbcType=VARCHAR},
      </if>
      <if test="companyAddressAreaCode != null" >
        #{companyAddressAreaCode,jdbcType=VARCHAR},
      </if>
      <if test="companyAddress != null" >
        #{companyAddress,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseEmail != null" >
        #{enterpriseEmail,jdbcType=VARCHAR},
      </if>
      <if test="businessLandlineNumber != null" >
        #{businessLandlineNumber,jdbcType=VARCHAR},
      </if>
      <if test="contactName != null" >
        #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null" >
        #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="contactMail != null" >
        #{contactMail,jdbcType=VARCHAR},
      </if>
      <if test="taxpayerIdentificationNumber != null" >
        #{taxpayerIdentificationNumber,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenseAddress != null" >
        #{businessLicenseAddress,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenseCode != null" >
        #{businessLicenseCode,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenseUrl != null" >
        #{businessLicenseUrl,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenseValid != null" >
        #{businessLicenseValid,jdbcType=VARCHAR},
      </if>
      <if test="legalRepresentative != null" >
        #{legalRepresentative,jdbcType=VARCHAR},
      </if>
      <if test="legalPersoncertNo != null" >
        #{legalPersoncertNo,jdbcType=VARCHAR},
      </if>
      <if test="companyType != null" >
        #{companyType,jdbcType=TINYINT},
      </if>
      <if test="parentCompanyInfoId != null" >
        #{parentCompanyInfoId,jdbcType=VARCHAR},
      </if>
      <if test="adminAccount != null" >
        #{adminAccount,jdbcType=VARCHAR},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null" >
        #{updateId,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="companyIntroduction != null" >
        #{companyIntroduction,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zerody.user.pojo.SysCompanyInfo" >
    update sys_company_info
    <set >
      <if test="blocId != null" >
        bloc_id = #{blocId,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null" >
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="companyCode != null" >
        company_code = #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="companyShortName != null" >
        company_short_name = #{companyShortName,jdbcType=VARCHAR},
      </if>
      <if test="registeredCapital != null" >
        registered_capital = #{registeredCapital,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseNature != null" >
        enterprise_nature = #{enterpriseNature,jdbcType=VARCHAR},
      </if>
      <if test="isTaxPayer != null" >
        is_tax_payer = #{isTaxPayer,jdbcType=TINYINT},
      </if>
      <if test="companyAddrProvinceCode != null" >
        company_addr_province_code = #{companyAddrProvinceCode,jdbcType=VARCHAR},
      </if>
      <if test="companyAddressCityCode != null" >
        company_address_city_code = #{companyAddressCityCode,jdbcType=VARCHAR},
      </if>
      <if test="companyAddressAreaCode != null" >
        company_address_area_code = #{companyAddressAreaCode,jdbcType=VARCHAR},
      </if>
      <if test="companyAddress != null" >
        company_address = #{companyAddress,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseEmail != null" >
        enterprise_email = #{enterpriseEmail,jdbcType=VARCHAR},
      </if>
      <if test="businessLandlineNumber != null" >
        business_landline_number = #{businessLandlineNumber,jdbcType=VARCHAR},
      </if>
      <if test="contactName != null" >
        contact_name = #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null" >
        contact_phone = #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="contactMail != null" >
        contact_mail = #{contactMail,jdbcType=VARCHAR},
      </if>
      <if test="taxpayerIdentificationNumber != null" >
        taxpayer_identification_number = #{taxpayerIdentificationNumber,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenseAddress != null" >
        business_license_address = #{businessLicenseAddress,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenseCode != null" >
        business_license_code = #{businessLicenseCode,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenseUrl != null" >
        business_license_url = #{businessLicenseUrl,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenseValid != null" >
        business_license_valid = #{businessLicenseValid,jdbcType=VARCHAR},
      </if>
      <if test="legalRepresentative != null" >
        legal_representative = #{legalRepresentative,jdbcType=VARCHAR},
      </if>
      <if test="legalPersoncertNo != null" >
        legal_personcert_no = #{legalPersoncertNo,jdbcType=VARCHAR},
      </if>
      <if test="companyType != null" >
        company_type = #{companyType,jdbcType=TINYINT},
      </if>
      <if test="parentCompanyInfoId != null" >
        parent_company_info_id = #{parentCompanyInfoId,jdbcType=VARCHAR},
      </if>
      <if test="adminAccount != null" >
        admin_account = #{adminAccount,jdbcType=VARCHAR},
      </if>
      <if test="createId != null" >
        create_id = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null" >
        update_id = #{updateId,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="remark != null" >
        remark_ = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="companyIntroduction != null" >
        company_introduction = #{companyIntroduction,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zerody.user.pojo.SysCompanyInfo" >
    update sys_company_info
    set bloc_id = #{blocId,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      company_code = #{companyCode,jdbcType=VARCHAR},
      company_short_name = #{companyShortName,jdbcType=VARCHAR},
      registered_capital = #{registeredCapital,jdbcType=VARCHAR},
      enterprise_nature = #{enterpriseNature,jdbcType=VARCHAR},
      is_tax_payer = #{isTaxPayer,jdbcType=TINYINT},
      company_addr_province_code = #{companyAddrProvinceCode,jdbcType=VARCHAR},
      company_address_city_code = #{companyAddressCityCode,jdbcType=VARCHAR},
      company_address_area_code = #{companyAddressAreaCode,jdbcType=VARCHAR},
      company_address = #{companyAddress,jdbcType=VARCHAR},
      enterprise_email = #{enterpriseEmail,jdbcType=VARCHAR},
      business_landline_number = #{businessLandlineNumber,jdbcType=VARCHAR},
      contact_name = #{contactName,jdbcType=VARCHAR},
      contact_phone = #{contactPhone,jdbcType=VARCHAR},
      contact_mail = #{contactMail,jdbcType=VARCHAR},
      taxpayer_identification_number = #{taxpayerIdentificationNumber,jdbcType=VARCHAR},
      business_license_address = #{businessLicenseAddress,jdbcType=VARCHAR},
      business_license_code = #{businessLicenseCode,jdbcType=VARCHAR},
      business_license_url = #{businessLicenseUrl,jdbcType=VARCHAR},
      business_license_valid = #{businessLicenseValid,jdbcType=VARCHAR},
      legal_representative = #{legalRepresentative,jdbcType=VARCHAR},
      legal_personcert_no = #{legalPersoncertNo,jdbcType=VARCHAR},
      company_type = #{companyType,jdbcType=TINYINT},
      parent_company_info_id = #{parentCompanyInfoId,jdbcType=VARCHAR},
      admin_account = #{adminAccount,jdbcType=VARCHAR},
      create_id = #{createId,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_id = #{updateId,jdbcType=VARCHAR},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=TINYINT},
      remark_ = #{remark,jdbcType=VARCHAR},
      company_introduction = #{companyIntroduction,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zerody.user.pojo.SysCompanyInfo" >
    update sys_company_info
    set bloc_id = #{blocId,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      company_code = #{companyCode,jdbcType=VARCHAR},
      company_short_name = #{companyShortName,jdbcType=VARCHAR},
      registered_capital = #{registeredCapital,jdbcType=VARCHAR},
      enterprise_nature = #{enterpriseNature,jdbcType=VARCHAR},
      is_tax_payer = #{isTaxPayer,jdbcType=TINYINT},
      company_addr_province_code = #{companyAddrProvinceCode,jdbcType=VARCHAR},
      company_address_city_code = #{companyAddressCityCode,jdbcType=VARCHAR},
      company_address_area_code = #{companyAddressAreaCode,jdbcType=VARCHAR},
      company_address = #{companyAddress,jdbcType=VARCHAR},
      enterprise_email = #{enterpriseEmail,jdbcType=VARCHAR},
      business_landline_number = #{businessLandlineNumber,jdbcType=VARCHAR},
      contact_name = #{contactName,jdbcType=VARCHAR},
      contact_phone = #{contactPhone,jdbcType=VARCHAR},
      contact_mail = #{contactMail,jdbcType=VARCHAR},
      taxpayer_identification_number = #{taxpayerIdentificationNumber,jdbcType=VARCHAR},
      business_license_address = #{businessLicenseAddress,jdbcType=VARCHAR},
      business_license_code = #{businessLicenseCode,jdbcType=VARCHAR},
      business_license_url = #{businessLicenseUrl,jdbcType=VARCHAR},
      business_license_valid = #{businessLicenseValid,jdbcType=VARCHAR},
      legal_representative = #{legalRepresentative,jdbcType=VARCHAR},
      legal_personcert_no = #{legalPersoncertNo,jdbcType=VARCHAR},
      company_type = #{companyType,jdbcType=TINYINT},
      parent_company_info_id = #{parentCompanyInfoId,jdbcType=VARCHAR},
      admin_account = #{adminAccount,jdbcType=VARCHAR},
      create_id = #{createId,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_id = #{updateId,jdbcType=VARCHAR},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=TINYINT},
      remark_ = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>