<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zerody.user.mapper.SysCompanyInfoMapper" >
  <resultMap id="BaseResultMap" type="com.zerody.user.domain.SysCompanyInfo" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="bloc_id" property="blocId" jdbcType="VARCHAR" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="company_code" property="companyCode" jdbcType="VARCHAR" />
    <result column="company_short_name" property="companyShortName" jdbcType="VARCHAR" />
    <result column="registered_capital" property="registeredCapital" jdbcType="VARCHAR" />
    <result column="enterprise_nature" property="enterpriseNature" jdbcType="VARCHAR" />
    <result column="is_tax_payer" property="isTaxPayer" jdbcType="TINYINT" />
    <result column="company_addr_province_code" property="companyAddrProvinceCode" jdbcType="VARCHAR" />
    <result column="company_address_city_code" property="companyAddressCityCode" jdbcType="VARCHAR" />
    <result column="company_address_area_code" property="companyAddressAreaCode" jdbcType="VARCHAR" />
    <result column="company_address" property="companyAddress" jdbcType="VARCHAR" />
    <result column="enterprise_email" property="enterpriseEmail" jdbcType="VARCHAR" />
    <result column="business_landline_number" property="businessLandlineNumber" jdbcType="VARCHAR" />
    <result column="contact_name" property="contactName" jdbcType="VARCHAR" />
    <result column="contact_phone" property="contactPhone" jdbcType="VARCHAR" />
    <result column="contact_mail" property="contactMail" jdbcType="VARCHAR" />
    <result column="taxpayer_identification_number" property="taxpayerIdentificationNumber" jdbcType="VARCHAR" />
    <result column="business_license_address" property="businessLicenseAddress" jdbcType="VARCHAR" />
    <result column="business_license_code" property="businessLicenseCode" jdbcType="VARCHAR" />
    <result column="business_license_url" property="businessLicenseUrl" jdbcType="VARCHAR" />
    <result column="business_license_valid" property="businessLicenseValid" jdbcType="VARCHAR" />
    <result column="legal_representative" property="legalRepresentative" jdbcType="VARCHAR" />
    <result column="legal_personcert_no" property="legalPersoncertNo" jdbcType="VARCHAR" />
    <result column="company_type" property="companyType" jdbcType="TINYINT" />
    <result column="parent_company_info_id" property="parentCompanyInfoId" jdbcType="VARCHAR" />
    <result column="admin_account" property="adminAccount" jdbcType="VARCHAR" />
    <result column="create_id" property="createId" jdbcType="VARCHAR" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_id" property="updateId" jdbcType="VARCHAR" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="remark_" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.zerody.user.domain.SysCompanyInfo" extends="BaseResultMap" >
    <result column="company_introduction" property="companyIntroduction" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, bloc_id, company_name, company_code, company_short_name, registered_capital,
    enterprise_nature, is_tax_payer, company_addr_province_code, company_address_city_code,
    company_address_area_code, company_address, enterprise_email, business_landline_number,
    contact_name, contact_phone, contact_mail, taxpayer_identification_number, business_license_address,
    business_license_code, business_license_url, business_license_valid, legal_representative,
    legal_personcert_no, company_type, parent_company_info_id, admin_account, create_id,
    create_user, create_time, update_id, update_user, update_time, status, remark_
  </sql>
  <sql id="Blob_Column_List" >
    company_introduction
  </sql>
    <update id="updateIsUpdateName">
        UPDATE sys_company_info
        SET is_update_name = 0
        WHERE
            id IN
                <foreach collection="param"  item="company" open="(" separator="," close=")" >
                    #{company.companyId}
                </foreach>
    </update>
    <update id="updateCompanyEdit">
        UPDATE  sys_company_info
        SET is_edit= 0
        <where>
            id in
                <foreach collection="param" item="company" open="(" separator="," close=")">
                    #{company.id}
                </foreach>
        </where>
    </update>
    <select id="getPageCompanyInner" resultType="com.zerody.user.api.vo.CompanyInfoVo">
      SELECT
      id AS companyId,
      company_name AS companyName
      FROM
      sys_company_info
      <where>
      1=1
      <if test="param.companyName != null and param.companyName != ''">
          and company_name like  concat('%',#{param.companyName},'%')
      </if>
      </where>
     order by create_time desc
  </select>
    <select id="getPageCompany" resultType="com.zerody.user.vo.SysComapnyInfoVo">
        SELECT
        id,
        company_name,
        company_code,
        contact_name,
        contact_phone,
        status
        FROM
        sys_company_info
        <where>
            <choose>
                <when test="company.status != null and company.status != -1">
                    status = #{company.status}
                </when>
                <otherwise>
                    status != -1
                </otherwise>
            </choose>
            <if test="company.companyName != null and company.companyName != ''">
                and company_name like  concat('%',#{company.companyName},'%')
            </if>
        </where>
        order by create_time desc
    </select>



  <select id="getAllCompnay"  resultType="com.zerody.user.vo.SysComapnyInfoVo">
      SELECT
        sci.id,
        sci.company_name,
        sci.company_code,
        sci.company_addr_province_code,
        sci.company_address_city_code,
        sci.company_address_area_code,
        sci.company_address,
        sci.contact_name,
        sci.contact_phone,
        ssi.id adminAccount,
        ssi.user_name AS adminName,
        sci.status
      FROM
            sys_company_info AS sci
      LEFT JOIN  company_admin AS ca ON ca.company_id = sci.id
      LEFT JOIN sys_staff_info AS ssi ON ca.staff_id = ssi.id and ssi.status != -1
      LEFT JOIN sys_user_info AS sui ON sui.id = ssi.user_id AND sui.status != -1
      where
        sci.status = 0
  </select>
    <select id="selectCompanyInfoById" resultType="com.zerody.user.vo.SysComapnyInfoVo">
      SELECT
        sci.id,
        sci.company_name,
        sci.company_code,
        sci.company_addr_province_code,
        sci.company_address_city_code,
        sci.company_address_area_code,
        sci.company_address,
        sci.contact_name,
        sci.contact_phone,
        ssi.id adminAccount,
        ssi.user_name AS adminName,
        ssi.user_id AS admin_user_id,
        sci.status,
        sui.certificate_card,
        sci.company_logo
      FROM
            sys_company_info AS sci
      LEFT JOIN  company_admin AS ca ON ca.company_id = sci.id
      LEFT JOIN sys_staff_info AS ssi ON ca.staff_id = ssi.id and ssi.status != -1
      LEFT JOIN sys_user_info AS sui ON sui.id = ssi.user_id AND sui.status != -1
      <where>
         sci.id = #{ids}
      </where>

    </select>
    <select id="getCompanyByUserId" resultType="com.zerody.user.vo.SysComapnyInfoVo">
        SELECT
        sci.id,
        sci.company_name
        FROM
        sys_company_info sci
        JOIN sys_staff_info ssi ON sci.id = comp_id
        <where>
            ssi.user_id = #{userId}
        </where>

    </select>
    <select id="getCompanyInfoByAddr" resultType="com.zerody.user.vo.SysComapnyInfoVo">
        SELECT
        sci.id,
        sci.company_name,
        sci.company_code,
        sci.company_addr_province_code,
        sci.company_address_city_code,
        sci.company_address_area_code,
        sci.company_address,
        sci.contact_name,
        sci.contact_phone,
        sci.status
        FROM
        sys_company_info AS sci
        <where>
            sci.status = 0
            and
            sci.company_address_city_code in
            <foreach collection="cityCodes" item="code" open="(" separator="," close=")">
                #{code}
            </foreach>
        </where>
    </select>
    <select id="getCompanyInfoByIds" resultType="com.zerody.user.api.vo.CompanyInfoVo">
        SELECT
            ci.id AS companyId,
            ci.company_name
        FROM
            sys_company_info AS ci
        <where>
            <if test="ids neq null and ids.size() > 0">
                ci.id IN
                <foreach collection="ids" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>
    <select id="getCompanyAll" resultType="com.zerody.user.vo.SysComapnyInfoVo">
        SELECT
            id,
            company_name AS companyName
        FROM
            sys_company_info
        WHERE
            status = 0
    </select>
    <select id="getCompanyNameById" resultType="com.zerody.user.vo.UserStructureVo">
        SELECT
            id AS companyId,
            company_name AS companyName,
            1 AS type
        FROM
            sys_company_info
        <where>
            status = 0
            <if test="companyId neq null and companyId neq ''">
                AND id = #{companyId}
            </if>
        </where>
    </select>
    <select id="getHaveUpdateCompanyName" resultType="com.zerody.user.api.vo.CompanyInfoVo">
        SELECT
            id AS company_id,
            company_name
        FROM
            sys_company_info
        WHERE
            is_update_name = 1
    </select>
    <select id="getCompangEditInfo" resultType="java.util.Map">
        SELECT
            sci.id,
            sci.status,
            sci.create_time,
            ssi.user_id AS admin_id,
            sci.company_name AS `name`,
            sci.company_authorization_img
        FROM
            sys_company_info AS sci
        LEFT JOIN company_admin AS ca ON ca.company_id = sci.id
        LEFT JOIN sys_staff_info AS ssi ON ca.staff_id  = ssi.id
        <where>
            sci.is_edit = 1
        </where>
    </select>
    <select id="getCustomerQuerydimensionality" resultType="com.zerody.user.vo.CustomerQueryDimensionalityVo">
    SELECT
        sci.id,
        sci.company_name AS `name`
      FROM
            sys_company_info AS sci
      WHERE
        sci.status = 0
    </select>
    <select id="getNotSmsCompany" resultType="string">
        SELECT
            id
        FROM
            sys_company_info
        WHERE
            status = 0 AND is_not_sms = 0
    </select>
    <select id="getCompanyBusiness" resultType="com.zerody.user.vo.ReportFormsQueryVo">
        SELECT
            sci.id,
            sci.company_name AS `name`
        FROM
            sys_company_info AS sci
        <where>
            sci.status = 0
        </where>
        GROUP BY sci.id
    </select>
</mapper>
