<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zerody.user.mapper.SysDepartmentInfoMapper" >
  <resultMap id="BaseResultMap" type="com.zerody.user.domain.SysDepartmentInfo" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="comp_id" property="compId" jdbcType="VARCHAR" />
    <result column="depart_name" property="departName" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="VARCHAR" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="creat_time" property="creatTime" jdbcType="TIMESTAMP" />
    <result column="create_id" property="createId" jdbcType="VARCHAR" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_id" property="updateId" jdbcType="VARCHAR" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="depart_code" property="departCode" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.zerody.user.domain.SysDepartmentInfo" extends="BaseResultMap" >
    <result column="depart_desc" property="departDesc" jdbcType="LONGVARCHAR" />
  </resultMap>

  <resultMap id="DepartmentInfoResultMap" type="com.zerody.user.vo.SysDepartmentInfoVo" >
      <id column="id" property="id" jdbcType="VARCHAR" />
      <result column="comp_id" property="compId" jdbcType="VARCHAR" />
      <result column="depart_name" property="departName" jdbcType="VARCHAR" />
      <result column="parent_id" property="parentId" jdbcType="VARCHAR" />
      <result column="telephone" property="telephone" jdbcType="VARCHAR" />
      <result column="depart_code" property="departCode" jdbcType="VARCHAR" />
      <result column="admin_account" property="adminAccount" jdbcType="VARCHAR" />
      <result column="user_name" property="adminName" jdbcType="VARCHAR" />
      <result column="is_show_business" property="isShowBusiness"/>
      <collection property="userCount" column="{departId = id}" select="getDepartUserCountById" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, comp_id, depart_name, parent_id, telephone, creat_time, create_id, create_user,
    create_time, update_id, update_user, update_time, status, depart_code
  </sql>
  <sql id="Blob_Column_List" >
    depart_desc
  </sql>
    <update id="updateDepartIsUpdateName">
        UPDATE sys_department_info
        SET is_update_name = 0
        WHERE
            id IN
            <foreach collection="depts" item="dept" open="(" separator="," close=")">
                #{dept.id}
            </foreach>
    </update>
    <update id="updateDepartEditInfo">
        UPDATE sys_department_info
        SET is_edit = 0
        <where>
            id IN
                <foreach collection="departs" item="dept" open="(" separator="," close=")">
                    #{dept.id}
                </foreach>
        </where>
    </update>

    <select id="getPageDepartment" resultType="com.zerody.user.vo.SysDepartmentInfoVo">
    SELECT
        sdi.id,
        sdi.depart_name,
        psdi.depart_name parentDep,
        sdi.telephone,
        sdi.depart_code,
        sdi.depart_desc,
          (
          SELECT
          count(id)
          FROM
          union_staff_depart usd
          WHERE
          sdi.id = usd.department_id
          ) staffCount
    FROM
        sys_department_info sdi
    left join sys_department_info psdi on psdi.parent_id = sdi.id
    <where>
      sdi.status != -1
      <if test="dep.compId != null and dep.compId != ''">
          and comp_id = #{dep.compId}
      </if>

    </where>
  </select>

  <select id="selectUserLoginIdByDepId" resultType="java.lang.String">
      SELECT
          sli.id
      FROM
          sys_login_info sli
      JOIN sys_user_info sui ON sui.id = sli.user_id
      JOIN sys_staff_info ssi ON ssi.user_id = sui.id
      JOIN union_staff_depart usd ON usd.staff_id = ssi.id
      <where>
        usd.department_id = #{depId}
      </where>
  </select>
    <select id="getAllDepByCompanyId" resultType="com.zerody.user.vo.SysDepartmentInfoVo">
    SELECT
        sdi.id,
        sdi.comp_id,
        sdi.depart_name,
        sdi.parent_id,
        sdi.telephone,
        sdi.depart_code,
        sdi.admin_account,
        ssi.user_name AS adminName,
        sdi.is_show_business
    FROM
        sys_department_info AS sdi
    LEFT JOIN sys_staff_info AS ssi ON ssi.id = sdi.admin_account and ssi.status in (0, 3)
    LEFT JOIN sys_user_info AS sui ON sui.id = ssi.user_id AND sui.status != -1
    <where>
        sdi.status = 0 and sdi.comp_id = #{companyId}
    </where>
    </select>
    <select id="selectUserDep" resultType="com.zerody.user.domain.SysDepartmentInfo">
        SELECT
            sdi.id
        FROM sys_department_info AS sdi
        JOIN union_staff_depart AS usd  ON sid.id = sdi.department_id
        JOIN sys_staff_info AS ssi ON ssi.id = usd.staff_id
        <where>
                sdi.status = 0 AND ssi.user_id = #{id}
        </where>
    </select>
    <select id="getSubordinateStructure" resultType="com.zerody.user.vo.SysDepartmentInfoVo">
        SELECT
            sdi.id,
            sdi.depart_name,
            sdi.parent_id
        FROM
        sys_department_info AS sdi
        <where>
            sdi.status = 0 and sdi.comp_id = #{user.companyId}
            <if test="user.deptId neq null and user.deptId neq ''">
                and id = #{user.deptId} or sdi.parent_id like concat('',#{user.deptId},'\_%')
            </if>
        </where>
    </select>
    <select id="getSubordinateDirectlyDepart" resultType="com.zerody.user.api.vo.UserDepartInfoVo">
        SELECT
            sdi.depart_name AS departName,
            sdi.id AS departId
        FROM
            sys_department_info AS sdi
        <where>
            sdi.status = 0 AND
            sdi.parent_id = #{departId}
        </where>
    </select>
    <select id="getDepartNameById" resultType="com.zerody.user.vo.UserStructureVo">
        SELECT
            sdi.depart_name AS departName,
            sdi.id AS departId,
            2 AS type
        FROM
         sys_department_info AS sdi
        WHERE
             sdi.status = 0 AND is_show_business = 1 AND
             sdi.id = #{departId}
    </select>
    <select id="getDepartNameByCompanyIdOrParentId" resultType="com.zerody.user.vo.UserStructureVo">
        SELECT
            sdi.depart_name AS departName,
            sdi.id AS departId,
            2 AS type
        FROM
         sys_department_info AS sdi
        <where>
            sdi.status = 0 AND sdi.is_show_business = 1
             <if test="companyId neq null and companyId neq ''">
                 AND sdi.comp_id = #{companyId}
             </if>
             <if test="departId neq null and  departId neq ''">
                 AND sdi.parent_id = #{departId}
             </if>
            <if test="departId eq null or departId eq ''">
                AND (sdi.parent_id IS NULL OR sdi.parent_id = '')
            </if>
        </where>
    </select>
    <select id="getModilyDepartName" resultType="com.zerody.user.api.dto.DeptInfo">
        SELECT
            id,
            depart_name AS name
        FROM
            sys_department_info
        WHERE
            is_update_name = 1
    </select>
    <select id="getDepartmentEditInfo" resultType="java.util.Map">
        SELECT
            sdi.id,
            sdi.parent_id,
            sdi.create_time,
            sdi.is_show_business AS is_show,
            sdi.status,
            ssi.user_id AS admin_id,
            sdi.comp_id AS company_id,
            sdi.depart_name AS `name`
        FROM
            sys_department_info AS sdi
        LEFT JOIN sys_staff_info AS ssi ON ssi.id = sdi.admin_account
        <where>
            is_edit = 1
        </where>
    </select>
    <select id="getDepartByParentId" resultType="com.zerody.user.vo.DepartSubordinateVo">
        SELECT
            sdi.id,
            sdi.depart_name AS name,
            count(sdi2.id) &gt; 0 AS is_subordinate
        FROM
            sys_department_info AS sdi
        LEFT JOIN sys_department_info AS sdi2 ON sdi.id = sdi2.parent_id AND sdi2.status = 0
        <where>
            sdi.status = 0
            <if test="id eq null or id eq ''">
                AND (sdi.parent_id IS NULL OR sdi.parent_id = '')
            </if>
            <if test="id neq null and id neq ''">
                AND sdi.parent_id = #{id}
            </if>
            <if test="companyId neq null and companyId neq ''">
                AND sdi.comp_id = #{companyId}
            </if>
            AND sdi.is_show_business = 1
        </where>
        GROUP BY sdi.id
    </select>
    <select id="getCustomerQuerydimensionality" resultType="com.zerody.user.vo.CustomerQueryDimensionalityVo">
        SELECT
            sdi.id,
            sdi.depart_name AS `name`
        FROM
            sys_department_info AS sdi
        WHERE
            status = 0
            AND
            sdi.is_show_business = 1
            AND
            sdi.comp_id = #{user.companyId}
            <choose>
                <when test="user.deptId eq null or user.deptId eq ''">
                    AND (sdi.parent_id IS NULL OR sdi.parent_id = '')
                </when>
                <otherwise>
                    AND sdi.parent_id = #{user.deptId}
                </otherwise>
            </choose>
    </select>
    <select id="getDepartInfoInner" resultType="com.zerody.user.api.vo.DepartInfoVo">
        SELECT
            sdi.id,
            sdi.depart_name,
            ssi.id AS admin_staff_id,
            ssi.user_id AS admin_user_id,
            ssi.user_name AS admin_user_name,
            sdi.parent_id AS parent_depart_id
        FROM
            sys_department_info AS sdi
        LEFT JOIN sys_staff_info AS ssi ON ssi.id = sdi.admin_account
        <where>
            sdi.id = #{id}
        </where>
    </select>
    <select id="getDepartBusiness" resultType="com.zerody.user.vo.ReportFormsQueryVo">
        SELECT
            sdi.id,
            sdi.depart_name AS `name`
        FROM sys_department_info AS sdi
        <where>
            sdi.status = 0 AND sdi.is_show_business = 1
            <if test="departId neq null and departId neq ''">
                AND sdi.parent_id = #{departId}
            </if>
            <if test="(companyId neq null and companyId neq '') and (departId eq null or  departId eq '')">
                AND (
                    sdi.parent_id IS NULL OR sdi.parent_id = ''
                )
                AND sdi.comp_id = #{companyId}
            </if>
        </where>
        GROUP BY sdi.id
    </select>
    <select id="getSubordinateIdsById" resultType="java.lang.String">
        SELECT
        sdi.id
        FROM
        sys_department_info AS sdi
        <where>
            <if test="id neq null and id neq ''">
                AND id LIKE CONCAT(#{id}, '\_%')
            </if>
        </where>
    </select>
    <select id="getAllDepByDepartId" resultType="com.zerody.user.vo.SysDepartmentInfoVo">
        SELECT
        sdi.id,
        sdi.comp_id,
        sdi.depart_name,
        sdi.parent_id,
        sdi.telephone,
        sdi.depart_code,
        sdi.admin_account,
        ssi.user_name AS adminName,
        sdi.is_show_business
        FROM
        sys_department_info AS sdi
        LEFT JOIN sys_staff_info AS ssi ON ssi.id = sdi.admin_account and ssi.status in (0, 3)
        LEFT JOIN sys_user_info AS sui ON sui.id = ssi.user_id AND sui.status != -1
        <where>
            sdi.status = 0 and sdi.comp_id = #{companyId}
            <if test="isDepartAdmin==1">
                and (sdi.id LIKE CONCAT(#{departId}, '\_%') or sdi.id=#{departId})
            </if>
            <if test="isDepartAdmin==0">
                and sdi.id=#{departId}
            </if>

        </where>
    </select>

    <select id="getDepartUserCountById" resultType="integer">
        select count(1)  as 'userCount'
        from sys_staff_info ssi
        left join sys_user_info sui ON sui.id = ssi.user_id AND sui.status in (0, 3)
        left join  union_staff_depart usd on ssi.id = usd.staff_id
        where sui.status in (0, 3) and usd.department_id = #{departId}
    </select>

    <select id="getAllDepPersonByCompanyId" resultMap="DepartmentInfoResultMap">
        SELECT
        sdi.id,
        sdi.comp_id,
        sdi.depart_name,
        sdi.parent_id,
        sdi.telephone,
        sdi.depart_code,
        sdi.admin_account,
        ssi.user_name,
        sdi.is_show_business
        FROM
        sys_department_info AS sdi
        left JOIN sys_staff_info AS ssi ON ssi.id = sdi.admin_account and ssi.status in (0, 3)
        left JOIN sys_user_info AS sui ON sui.id = ssi.user_id AND sui.status in (0, 3)
        <where>
            sdi.status = 0 and sdi.comp_id = #{companyId}
        </where>
    </select>
</mapper>
