<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zerody.user.mapper.SysStaffInfoMapper">
    <resultMap id="BaseResultMap" type="com.zerody.user.domain.SysStaffInfo">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="comp_id" property="compId" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="work_place" property="workPlace" jdbcType="VARCHAR"/>
        <result column="job_number" property="jobNumber" jdbcType="VARCHAR"/>
        <result column="date_join" property="dateJoin" jdbcType="DATE"/>
        <result column="conversion_date" property="conversionDate" jdbcType="DATE"/>
        <result column="date_left" property="dateLeft" jdbcType="DATE"/>
        <result column="create_id" property="createId" jdbcType="VARCHAR"/>
        <result column="create_user" property="createUser" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_id" property="updateId" jdbcType="VARCHAR"/>
        <result column="update_user" property="updateUser" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, comp_id, user_id, user_name, work_place, job_number, date_join, conversion_date,
    date_left, create_id, create_user, create_time, update_id, update_user, update_time,
    status
  </sql>
    <update id="updateDateJoin">
        update sys_staff_info set date_join=#{dateJoin} where id=#{id}
    </update>
    <select id="selectByUserIdAndCompId" resultType="com.zerody.user.vo.SysStaffInfoVo">
      SELECT
          id,
          comp_id,
          user_id,
          user_name,
          work_place,
          job_number,
          date_join,
          conversion_date,
          date_left
      FROM
          sys_staff_info
      WHERE
          STATUS != 2
      AND user_id = #{userId}
      AND comp_id = #{compId}
  </select>

    <select id="getPageAllStaff" resultType="com.zerody.user.vo.BosStaffInfoVo">
        SELECT
        DISTINCT sui.id AS id,
        ssi.comp_id AS compId,
        ssi.user_name AS userName,
        sci.company_name AS companyName,
        sui.phone_number AS phone,
        sjp.position_name AS positionName,
        sdi.depart_name AS departName,
        ssi.id AS staffId,
        urs.role_name AS roleName,
        sui.status AS staffStatus,
        sui.status = 0 AS activity,
        sui.status = 3 AS teamwork,
        sui.status = 1 AS stops,
        ssi.id = #{staff.staffId} AS isAdmin,
        sb.id is not null AS is_block,
        sui.avatar as avatar,
        ssi.evaluate,
        ssi.resume_url,
        ssi.is_diamond_member
        FROM
        sys_user_info sui
        JOIN sys_staff_info ssi ON sui.id = ssi.user_id
        LEFT JOIN sys_company_info sci ON sci.id = ssi.comp_id
        LEFT JOIN union_role_staff urs ON urs.staff_id = ssi.id
        LEFT JOIN union_staff_depart usd ON usd.staff_id = ssi.id
        LEFT JOIN sys_department_info sdi ON usd.department_id = sdi.id and sdi.status = 0
        LEFT JOIN union_staff_position usp ON usp.staff_id = ssi.id
        LEFT JOIN sys_job_position sjp ON sjp.id = usp.position_id and sjp.status = 0
        LEFT JOIN staff_blacklist AS sb ON sb.user_id = sui.id AND sb.state = 'BLOCK'
        <where>
            ssi.deleted = 0 and sui.status != -1
            <if test="staff.companyId != null and staff.companyId != ''">
                and sci.id = #{staff.companyId}
            </if>
            <if test="staff.companyIds neq null and staff.companyIds.size() gt 0">
                AND sci.id
                <foreach collection="staff.companyIds" item="id" open="IN (" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            <if test="staff.departId != null and staff.departId != ''">
                and (sdi.id like concat('', #{staff.departId}, '\_%') or sdi.id=#{staff.departId} )
            </if>
            <if test="staff.jobId != null and staff.jobId != ''">
                and sjp.id = #{staff.jobId}
            </if>
            <if test="staff.roleId != null and staff.roleId != ''">
                and urs.role_id = #{staff.roleId}
            </if>
            <if test="staff.staffName != null and staff.staffName != ''">
                and ssi.user_name like concat('%', #{staff.staffName}, '%')
            </if>
            <if test="staff.phoneNumber != null and staff.phoneNumber != ''">
                and sui.phone_number like concat('%', #{staff.phoneNumber}, '%')
            </if>
            <if test="staff.isBlock neq null and staff.isBlock eq 1">
                AND sb.state = 'BLOCK'
            </if>
            <if test="staff.isBlock neq null and staff.isBlock eq 0">
                AND sb.id IS NULL
            </if>
            <if test="staff.status neq null">
                AND sui.status = #{staff.status}
            </if>
            <if test="staff.isDiamondMember neq null">
                AND ssi.is_diamond_member = #{staff.isDiamondMember}
            </if>
        </where>
        order by isAdmin DESC, stops, teamwork, activity, ssi.create_time desc
    </select>

    <select id="selectUserByCompanyId" resultType="java.lang.String">
        SELECT
			sui.id
		FROM
			sys_user_info sui
		JOIN sys_staff_info ssi ON ssi.user_id = sui.id
		WHERE
			ssi.comp_id = #{companyId} and ssi.status != 2 and sui.status in (0, 3)
    </select>

    <select id="getStaffInfoByOpenId" resultType="com.zerody.user.vo.SysUserInfoVo">
        SELECT
        sui.user_name,
        sui.phone_number,
        sui.email,
        sui.nickname,
        sui.avatar,
        sui.prov_city_district,
        sjp.position_name,
        sci.company_name
        FROM
        sys_user_info sui
        JOIN sys_staff_info ssi ON sui.id = ssi.user_id
        LEFT JOIN union_staff_position usp ON usp.staff_id = ssi.id
        LEFT JOIN sys_job_position sjp ON sjp.id = usp.position_id
        LEFT JOIN sys_company_info sci on sci.id = ssi.comp_id
        <where>
            ssi.status != -1 and open_id = #{openId}
        </where>
    </select>

    <!--查看员工详情-->
    <select id="selectStaffById" resultType="com.zerody.user.vo.SysUserInfoVo">
        SELECT
        sci.company_name,
        ssi.id staffId,
        sui.user_name,
        sui.gender,
        sui.phone_number,
        sui.email,
        sui.nickname,
        ssi.avatar,
        sui.birthday,
        sui.certificate_card,
        sui.certificate_card_address,
        sui.prov_city_district,
        sui.contact_address,
        sui.register_time,
        sui.STATUS,
        sui.nation,
        sui.ancestral,
        urs.role_name,
        sdi.depart_name,
        sjp.position_name,
        urs.role_id,
        sdi.id AS departId,
        sjp.id AS positionId,
        sci.id AS companyId,
        sui.id AS id,
        sui.highest_education,
        sui.graduated_from,
        sui.major,
        sui.marital_status,
        sui.family_name,
        sui.family_relation,
        sui.family_phone,
        sui.family_job,
        sui.family_addr,
        sui.create_time,
        sui.urgent_name,
        sui.urgent_relation,
        sui.urgent_phone,
        ssi.evaluate,
        ssi.resume_url,
        ssi.leave_reason,
        ssi.recommend_type,
        ssi.recommend_id,
        sb.id is not null AS is_block,
        ssi.integral,
        ssi.date_join,
        ssi.working_years,
        ssi.date_left,
        sui.im_state,
        ssi.is_diamond_member
        FROM
        sys_user_info sui
        JOIN sys_staff_info ssi ON sui.id = ssi.user_id
        LEFT JOIN sys_company_info sci ON sci.id = ssi.comp_id
        LEFT JOIN union_role_staff urs ON urs.staff_id = ssi.id
        LEFT JOIN union_staff_depart usd ON usd.staff_id = ssi.id
        LEFT JOIN sys_department_info sdi ON usd.department_id = sdi.id and sdi.status = 0
        LEFT JOIN union_staff_position usp ON usp.staff_id = ssi.id
        LEFT JOIN sys_job_position sjp ON sjp.id = usp.position_id and sjp.status = 0
        LEFT JOIN staff_blacklist AS sb ON sb.user_id = sui.id AND sb.state = 'BLOCK'
        <where>
            ssi.deleted = 0 and ssi.id = #{id}
        </where>
    </select>

    <select id="selectStaffByUserId" resultType="com.zerody.user.vo.SysUserInfoVo">
        SELECT
        sci.company_name,
        ssi.id staffId,
        sui.user_name,
        sui.gender,
        sui.phone_number,
        sui.email,
        sui.nickname,
        ssi.avatar,
        sui.birthday,
        sui.certificate_card,
        sui.certificate_card_address,
        sui.prov_city_district,
        sui.contact_address,
        sui.register_time,
        ssi.STATUS,
        sui.nation,
        sui.ancestral,
        urs.role_name,
        sdi.depart_name,
        sjp.position_name,
        urs.role_id,
        sdi.id AS departId,
        sjp.id AS positionId,
        sci.id AS companyId,
        sui.id AS id,
        sui.highest_education,
        sui.graduated_from,
        sui.major,
        sui.marital_status,
        sui.family_name,
        sui.family_relation,
        sui.family_phone,
        sui.family_job,
        sui.family_addr,
        sui.create_time,
        sui.urgent_name,
        sui.urgent_relation,
        sui.urgent_phone,
        ssi.evaluate,
        ssi.resume_url,
        ssi.leave_reason,
        ssi.recommend_type,
        ssi.recommend_id,
        sb.id is not null AS is_block,
        ssi.integral,
        ssi.working_years,
        ssi.date_join,
        ssi.date_left,
        sui.im_state,
        sui.avatar AS user_avatar
        FROM
        sys_user_info sui
        JOIN sys_staff_info ssi ON sui.id = ssi.user_id
        LEFT JOIN sys_company_info sci ON sci.id = ssi.comp_id
        LEFT JOIN union_role_staff urs ON urs.staff_id = ssi.id
        LEFT JOIN union_staff_depart usd ON usd.staff_id = ssi.id
        LEFT JOIN sys_department_info sdi ON usd.department_id = sdi.id and sdi.status = 0
        LEFT JOIN union_staff_position usp ON usp.staff_id = ssi.id
        LEFT JOIN sys_job_position sjp ON sjp.id = usp.position_id and sjp.status = 0
        LEFT JOIN staff_blacklist AS sb ON sb.user_id = sui.id AND sb.state = 'BLOCK'
        <where>
            sui.id = #{userId}
        </where>
    </select>

    <select id="selectStaffRoles" resultType="String">
        SELECT
        urs.role_id
        FROM
        sys_staff_info ssi
        LEFT JOIN union_role_staff urs ON urs.staff_id = ssi.id
        <where>
            ssi.deleted = 0
            and ssi.comp_id = #{companyId}
            and ssi.user_id = #{userId}
        </where>
    </select>

    <select id="getStaff" resultType="com.zerody.user.vo.BosStaffInfoVo">
        SELECT
        ssi.comp_id AS compId,
        ssi.user_name AS userName,
        sui.phone_number AS phone,
        sjp.position_name AS positionName,
        sdi.depart_name AS departName,
        ssi.id AS staffId
        FROM
        sys_staff_info ssi
        LEFT JOIN sys_user_info sui ON sui.id=ssi.user_id
        LEFT JOIN union_staff_position usp ON usp.staff_id = ssi.id
        LEFT JOIN sys_job_position sjp ON sjp.id = usp.position_id
        LEFT JOIN union_staff_depart usd ON usd.staff_id = ssi.id
        LEFT JOIN sys_department_info sdi ON sdi.id = usd.department_id
        <where>
            ssi.deleted = 0
            <if test="positionId != null and positionId != ''">
                and usp.position_id = #{positionId}
            </if>
            <if test="departId != null and departId != ''">
                and usd.department_id = #{departId}
            </if>
            <if test="companyId != null and companyId != ''">
                and ssi.comp_id = #{companyId}
            </if>
        </where>
    </select>

    <select id="getStaffByCompany" resultType="com.zerody.user.vo.StaffInfoByCompanyVo">
        SELECT
        sui.id AS id,
        sui.avatar AS avatar,
        ssi.user_name AS userName,
        sui.phone_number AS phone,
        sjp.position_name AS positionName,
        urs.role_name AS roleName,
        sdi.depart_name AS departName,
        sci.company_name AS companyName,
        ssi.id AS staffId
        FROM
        sys_staff_info ssi
        LEFT JOIN sys_user_info sui ON sui.id=ssi.user_id
        LEFT JOIN sys_company_info sci ON sci.id=ssi.comp_id
        LEFT JOIN union_role_staff urs ON urs.staff_id=ssi.id
        LEFT JOIN union_staff_position usp ON usp.staff_id = ssi.id
        LEFT JOIN sys_job_position sjp ON sjp.id = usp.position_id
        LEFT JOIN union_staff_depart usd ON usd.staff_id = ssi.id
        LEFT JOIN sys_department_info sdi ON sdi.id = usd.department_id
        <where>
            ssi.deleted = 0
            <if test="isShowLeave eq null or isShowLeave eq 0">
                sui.status IN (0, 3)
            </if>
            <if test="isShowLeave neq null and isShowLeave eq 1">
                sui.status IN (0, 1, 3)
            </if>
            <if test="companyId != null and companyId != ''">
                and ssi.comp_id = #{companyId}
            </if>
        </where>
    </select>

    <!--分页获取平台管理员列表-->
    <select id="selectAdmins" resultType="com.zerody.user.vo.BosStaffInfoVo">
        SELECT
        aui.id AS id,
        sci.id AS compId,
        sci.company_name AS companyName,
        aui.user_name AS userName,
        aui.phone_number AS phone,
        sjp.position_name AS positionName,
        sdi.depart_name AS departName,
        ssi.id AS staffId,
        aui.is_show_mobile AS isShowMobile,
        urs.role_id AS roleId,
        urs.role_name
        FROM
        admin_user_info aui
        LEFT JOIN sys_staff_info ssi ON ssi.id=aui.staff_id
        LEFT JOIN sys_user_info sui ON sui.id=ssi.user_id
        LEFT JOIN sys_company_info sci ON sci.id=ssi.comp_id
        LEFT JOIN union_staff_position usp ON usp.staff_id = aui.staff_id
        LEFT JOIN sys_job_position sjp ON sjp.id = usp.position_id
        LEFT JOIN union_staff_depart usd ON usd.staff_id = aui.staff_id
        LEFT JOIN sys_department_info sdi ON sdi.id = usd.department_id
        LEFT JOIN union_platform_role_staff urs ON urs.staff_id = aui.staff_id
        <where>
            ssi.deleted = 0
            and aui.deleted !=1
            <if test="dto.userName != null and dto.userName != ''">
                and ssi.user_name like CONCAT('%',#{dto.userName},'%')
            </if>
        </where>
    </select>

    <select id="selectUserDeptInfoById" resultType="com.zerody.user.api.vo.UserDeptVo">
        SELECT
        ssi.id as staffId,
        ssi.user_id as userId,
        ssi.id com_id as companyId,
        usd.department_id as deptId,
        usp.position_id as postId,
        FROM sys_staff_info ssi
        LEFT JOIN union_staff_depart usd ON usd.staff_id = ssi.id
        LEFT JOIN union_staff_position usp ON usp.staff_id = ssi.id
        <where>
            ssi.deleted = 0 and ssi.id = #{staffId}
        </where>
    </select>
    <select id="selectUserInfo" resultType="com.zerody.user.vo.SysUserClewCollectVo">
        SELECT
            sui.id AS userId,
            sui.user_name AS name,
            sdi.depart_name AS departName,
            sjp.position_name AS jobName,
            sli.login_time AS loginTime
        FROM
            sys_user_info AS sui
        JOIN sys_login_info AS sli ON sli.user_id = sui.id
        JOIN  sys_staff_info AS ssi ON ssi.user_id = sui.id
        JOIN sys_company_info sci ON sci.id=ssi.comp_id
        LEFT JOIN union_staff_position usp ON usp.staff_id = ssi.id
        LEFT JOIN sys_job_position sjp ON sjp.id = usp.position_id
        LEFT JOIN union_staff_depart usd ON usd.staff_id = ssi.id
        LEFT JOIN sys_department_info sdi ON sdi.id = usd.department_id
        where
            ssi.id = #{staffId}
    </select>
    <select id="getStaffByDepIds" resultType="com.zerody.user.vo.SysUserClewCollectVo">
        SELECT
        sui.id AS userId,
        sui.user_name AS name,
        sdi.depart_name AS departName,
        sjp.position_name AS jobName,
        sli.login_time AS loginTime,
        sui.id = #{adminId} AS admin
        FROM
        sys_user_info AS sui
        JOIN sys_login_info AS sli ON sli.user_id = sui.id
        JOIN sys_staff_info AS ssi ON ssi.user_id = sui.id
        JOIN sys_company_info sci ON sci.id=ssi.comp_id
        LEFT JOIN union_staff_position usp ON usp.staff_id = ssi.id
        LEFT JOIN sys_job_position sjp ON sjp.id = usp.position_id
        LEFT JOIN union_staff_depart usd ON usd.staff_id = ssi.id
        LEFT JOIN sys_department_info sdi ON sdi.id = usd.department_id
        <where>
            sci.id = #{compId} and sui.status in (0, 3)
            <if test="ids != null and ids.size() > 0">
                and sdi.id in
                <foreach collection="ids" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
        order by admin DESC,sui.create_time desc
    </select>


    <select id="selectStaffInfo" resultType="com.zerody.user.vo.CopyStaffInfoVo">
        SELECT
        ssi.id AS staffId,
        sui.user_name,
        sui.phone_number AS phoneNumber,
        sui.avatar,
        sli.user_pwd AS userPwd,
        urs.role_id
        FROM
        sys_user_info sui
        JOIN sys_staff_info ssi ON sui.id = ssi.user_id
        JOIN sys_login_info sli ON sli.user_id = sui.id
        LEFT JOIN union_platform_role_staff urs ON urs.staff_id = ssi.id
        <where>
            ssi.deleted = 0
            and ssi.id = #{staffId}
        </where>
    </select>
    <select id="getWxPageAllStaff" resultType="com.zerody.user.vo.BosStaffInfoVo">
        SELECT
        sui.id AS id,
        sui.user_name AS userName,
        sui.phone_number AS phone
        FROM
        sys_user_info AS sui
        JOIN sys_staff_info AS ssi ON ssi.user_id = sui.id
        WHERE
        ssi.status != 1 and ssi.comp_id = #{dto.companyId}
        <if test="dto.staffName neq null and dto.staffName neq ''">
            and ssi.user_name like concat('%',#{dto.uerName},'%')
        </if>
    </select>
    <select id="getStaffAllByDepIds" resultType="com.zerody.user.vo.SysUserClewCollectVo">
        SELECT
        sui.id AS userId,
        sui.user_name AS name,
        sdi.depart_name AS departName,
        sjp.position_name AS jobName
        FROM
        sys_user_info AS sui
        JOIN sys_staff_info AS ssi ON ssi.user_id = sui.id and ssi.status = 0
        JOIN sys_company_info sci ON sci.id=ssi.comp_id
        <if test="ids eq null">
            JOIN company_admin AS ca ON ca.company_id = sci.id and ssi.id != ca.staff_id
        </if>
        LEFT JOIN union_staff_position usp ON usp.staff_id = ssi.id
        LEFT JOIN sys_job_position sjp ON sjp.id = usp.position_id
        LEFT JOIN union_staff_depart usd ON usd.staff_id = ssi.id
        LEFT JOIN sys_department_info sdi ON sdi.id = usd.department_id
        <where>
            sci.id = #{compId}
            <if test="ids != null and ids.size() > 0">
                and sdi.id in
                <foreach collection="ids" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>
    <select id="getPageAllSuperiorStaff" resultType="com.zerody.user.vo.BosStaffInfoVo">
        SELECT
        sui.id AS id,
        ssi.user_name AS userName,
        ssi.id AS staffId
        FROM
        sys_user_info sui
        JOIN sys_staff_info ssi ON sui.id = ssi.user_id
        LEFT JOIN union_staff_depart usd ON usd.staff_id = ssi.id
        <where>
            ssi.deleted = 0 and sui.status != -1
            <if test="dto.companyId neq null and dto.companyId neq ''">
                and ssi.comp_id = #{dto.companyId}
            </if>
            <if test="depIds neq null and depIds.size() > 0">
                and usd.department_id in
                <foreach collection="depIds" item="id" open=" (" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            <if test="dto.phoneNumber neq null and dto.phoneNumber neq ''">
                and sui.phone_number like concat('%',#{dto.phoneNumber},'%')
            </if>
            <if test="dto.staffName neq null and dto.staffName neq ''">
                and sui.user_name like concat('%',#{dto.staffName},'%')
            </if>
        </where>
        order by ssi.create_time desc
    </select>
    <select id="getUserByDepartOrRole" resultType="com.zerody.user.api.vo.SysUserInfoVo">
        SELECT
        sui.id,
        sui.user_name,
        sui.phone_number,
        urs.role_name
        FROM
        sys_user_info AS sui
        JOIN sys_staff_info AS ssi ON ssi.user_id = sui.id
        LEFT JOIN union_staff_depart AS usd ON usd.staff_id = ssi.id
        LEFT JOIN union_role_staff AS urs ON urs.staff_id = ssi.id
        <where>
            sui.status IN (0, 2)
            <if test="departId neq null and departId neq ''">
                AND (usd.department_id LIKE CONCAT('',#{departId},'\_%') or usd.department_id=#{departId})
            </if>
            <if test="roleId neq null and roleId neq ''">
                AND urs.role_id = #{roleId}
            </if>
            <if test="companyId neq null and companyId neq ''">
                AND ssi.comp_id = #{companyId}
            </if>
        </where>
    </select>
    <select id="getStaffByIds" resultType="com.zerody.user.api.vo.SysUserInfoVo">
        SELECT
        sui.id,
        sui.user_name,
        urs.role_name
        FROM
        sys_staff_info AS ssi
        JOIN sys_user_info AS sui ON ssi.user_id = sui.id
        JOIN union_role_staff AS urs ON urs.staff_id = ssi.id
        <where>
            sui.status in (0, 3) and ssi.id in
            <foreach collection="staffIds" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </where>
    </select>
    <select id="getPagePerformanceReviews" resultType="com.zerody.user.vo.UserPerformanceReviewsVo">
        SELECT
        sui.id AS userId,
        sui.user_name,
        sci.company_name,
        sdi.depart_name AS departmentName,
        urs.role_id,
        urs.role_name
        FROM
        sys_user_info AS sui
        JOIN sys_staff_info AS ssi ON ssi.user_id = sui.id
        LEFT JOIN union_role_staff AS urs ON urs.staff_id = ssi.id
        JOIN sys_company_info AS sci ON sci.id = ssi.comp_id
        LEFT JOIN union_staff_depart AS usd ON usd.staff_id = ssi.id
        LEFT JOIN sys_department_info AS sdi ON sdi.id = usd.department_id
        <where>
            sui.status IN (0, 3) AND sui.is_sign_order = 1
            <if test="param.companyId neq null and param.companyId neq ''">
                AND sci.id = #{param.companyId}
            </if>
            <if test="param.companyIds neq null and param.companyIds.size() gt 0">
                AND sci.id
                <foreach collection="param.companyIds" item="id" open="IN (" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            <if test="param.departId neq null and param.departId neq ''">
                AND sdi.id = #{param.departId}
            </if>
            <if test="param.userId neq null and param.userId neq ''">
                AND sui.id = #{param.userId}
            </if>
            <if test="param.name neq null and param.name neq ''">
                AND sui.user_name LIKE CONCAT('%', #{param.name}, '%')
            </if>
            AND sci.status != -1
            ORDER BY sui.create_time DESC
        </where>
    </select>
    <select id="getStaffInfoInner" resultType="com.zerody.user.api.vo.StaffInfoVo">
        SELECT
        sui.avatar AS user_avatar,
        ssi.avatar AS staff_avatar,
        sui.user_name,
        sui.id AS userId,
        sci.company_name,
        sdi.id AS departId,
        sci.id AS companyId,
        sdi.depart_name AS departmentName,
        sui.phone_number AS mobile,
        sui.certificate_card AS identity_card,
        sjp.position_name,
        urs.role_id,
        urs.role_name,
        ssi.id AS `staff_id`,
        ssi.status
        FROM
        sys_staff_info AS ssi
        LEFT JOIN sys_company_info AS sci ON sci.id = ssi.comp_id
        LEFT JOIN union_staff_depart AS usd ON usd.staff_id = ssi.id
        LEFT JOIN sys_department_info AS sdi ON sdi.id = usd.department_id
        LEFT JOIN  union_staff_position AS usp ON usp.staff_id=ssi.id
        LEFT JOIN sys_job_position AS sjp ON sjp.id=usp.position_id
        LEFT JOIN union_role_staff AS urs ON urs.staff_id = ssi.id
        JOIN sys_user_info AS sui ON sui.id = ssi.user_id
        <where>
            sui.id = #{id}
        </where>
    </select>
    <select id="getPagePerformanceReviewsByUserIds" resultType="com.zerody.user.vo.UserPerformanceReviewsVo">
        SELECT
        sui.id AS userId,
        sui.user_name,
        sci.company_name,
        sdi.depart_name AS departmentName,
        urs.role_id,
        urs.role_name
        FROM
        sys_user_info AS sui
        JOIN sys_staff_info AS ssi ON ssi.user_id = sui.id
        LEFT JOIN union_role_staff AS urs ON urs.staff_id = ssi.id
        JOIN sys_company_info AS sci ON sci.id = ssi.comp_id
        LEFT JOIN union_staff_depart AS usd ON usd.staff_id = ssi.id
        LEFT JOIN sys_department_info AS sdi ON sdi.id = usd.department_id
        <where>
            sui.id IN
            <foreach collection="userIds" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </where>
        ORDER BY sui.create_time DESC
    </select>
    <select id="getDepartDirectStaffInfo" resultType="com.zerody.user.api.vo.StaffInfoVo">
        SELECT
        ssi.id AS staffId,
        ssi.user_id AS userId,
        ssi.avatar AS staffAvatar,
        ssi.user_name AS userName
        FROM
        sys_staff_info AS ssi
        JOIN union_staff_depart AS usd ON usd.staff_id = ssi.id
        JOIN sys_user_info AS sui ON sui.id = ssi.user_id
        JOIN sys_department_info AS sdi ON sdi.id = usd.department_id
        <where>
            usd.department_id = #{departId} and ssi.id !=sdi.admin_account AND sui.status IN (0,3)
        </where>
    </select>
    <select id="getUserNameByDepartId" resultType="com.zerody.user.vo.UserStructureVo">
        SELECT
        ssi.user_id AS userId,
        ssi.user_name AS userName,
        #{departId} AS depart_id,
        3 AS type
        FROM
        sys_staff_info AS ssi
        JOIN sys_user_info AS sui ON sui.id = ssi.user_id
        <if test="departId neq null and departId neq ''">
            JOIN union_staff_depart AS usd ON usd.staff_id = ssi.id
        </if>
        <where>
            (sui.status = 0 OR sui.status = 3)
            <if test="departId neq null and departId neq ''">
                AND usd.department_id = #{departId}
            </if>
            <if test="companyId neq null and companyId neq ''">
                AND NOT EXISTS (
                SELECT
                *
                FROM
                union_staff_depart AS usd
                JOIN sys_department_info AS sdi ON sdi.id = usd.department_id
                WHERE
                usd.staff_id = ssi.id
                AND sdi.comp_id = #{companyId}
                )
                AND ssi.comp_id = #{companyId}
            </if>
            AND ssi.user_id != #{userId}
        </where>
    </select>
    <select id="getCompanyIdByUserId" resultType="java.lang.String">
        SELECT
            comp_id
        FROM
            sys_staff_info
        where
            user_id = #{userId}
    </select>
    <select id="getPageAllActiveDutyStaff" resultType="com.zerody.user.vo.BosStaffInfoVo">
        SELECT
        DISTINCT sui.id AS id,
        ssi.comp_id AS compId,
        ssi.user_name AS userName,
        sci.company_name AS companyName,
        sui.phone_number AS phone,
        sjp.position_name AS positionName,
        sdi.depart_name AS departName,
        ssi.id AS staffId,
        urs.role_name AS roleName,
        sui.status AS staffStatus,
        sui.status = 0 AS activity,
        sui.status = 3 AS teamwork,
        sui.status = 1 AS stops,
        ssi.id = #{staff.staffId} AS isAdmin,
        ssi.avatar AS staff_avatar,
        sui.avatar AS user_avatar
        FROM
        sys_user_info sui
        JOIN sys_staff_info ssi ON sui.id = ssi.user_id
        LEFT JOIN sys_company_info sci ON sci.id = ssi.comp_id
        LEFT JOIN union_role_staff urs ON urs.staff_id = ssi.id
        LEFT JOIN union_staff_depart usd ON usd.staff_id = ssi.id
        LEFT JOIN sys_department_info sdi ON usd.department_id = sdi.id and sdi.status = 0
        LEFT JOIN union_staff_position usp ON usp.staff_id = ssi.id
        LEFT JOIN sys_job_position sjp ON sjp.id = usp.position_id and sjp.status = 0
        <where>
            ssi.deleted = 0 and (sui.status = 0 OR sui.status = 3)
            <if test="staff.companyId != null and staff.companyId != ''">
                and sci.id = #{staff.companyId}
            </if>
            <if test="staff.companyIds neq null and staff.companyIds.size() gt 0">
                AND sci.id
                <foreach collection="staff.companyIds" item="id" open="IN (" separator="," close=")">
                    #{id}
                </foreach>
            </if>

            <if test="staff.departId != null and staff.departId != ''">
                and (sdi.id like concat('', #{staff.departId}, '\_%') or sdi.id=#{staff.departId} )
            </if>
            <if test="staff.stffDepartId != null and staff.stffDepartId != ''">
                and  sdi.id=#{staff.stffDepartId}
            </if>
            <if test="staff.userId != null and staff.userId != ''">
                and sui.id = #{staff.userId}
            </if>
            <if test="staff.jobId != null and staff.jobId != ''">
                and sjp.id = #{staff.jobId}
            </if>
            <if test="staff.roleId != null and staff.roleId != ''">
                and urs.role_id = #{staff.roleId}
            </if>
            <if test="staff.staffName != null and staff.staffName != ''">
                and ssi.user_name like concat('%', #{staff.staffName}, '%')
            </if>
            <if test="staff.phoneNumber != null and staff.phoneNumber != ''">
                and sui.phone_number like concat('%', #{staff.phoneNumber}, '%')
            </if>
            <if test="staff.key neq null and staff.key neq ''">
                AND (
                sui.user_name LIKE CONCAT('%', #{staff.key}, '%')
                OR
                sui.phone_number LIKE CONCAT('%', #{staff.key}, '%')
                )
            </if>
            <if test="staff.userType neq null">
                AND ssi.user_type = #{staff.userType}
            </if>
        </where>
        order by isAdmin DESC, stops, teamwork, activity, ssi.create_time desc
    </select>
    <select id="getStaffInfoByIds" resultType="com.zerody.user.api.vo.StaffInfoVo">
        SELECT
        sui.avatar AS user_avatar,
        ssi.avatar AS staff_avatar,
        sui.user_name,
        sui.id AS userId,
        sci.company_name,
        sdi.id AS departId,
        sci.id AS companyId,
        sdi.depart_name AS departmentName,
        sui.phone_number AS mobile,
        sjp.position_name,
        urs.role_id,
        urs.role_name,
        ssi.id AS `staff_id`
        FROM
        sys_staff_info AS ssi
        LEFT JOIN sys_company_info AS sci ON sci.id = ssi.comp_id
        LEFT JOIN union_staff_depart AS usd ON usd.staff_id = ssi.id
        LEFT JOIN sys_department_info AS sdi ON sdi.id = usd.department_id
        LEFT JOIN  union_staff_position AS usp ON usp.staff_id=ssi.id
        LEFT JOIN sys_job_position AS sjp ON sjp.id=usp.position_id
        LEFT JOIN union_role_staff AS urs on urs.staff_id = ssi.id
        JOIN sys_user_info AS sui ON sui.id = ssi.user_id
        <where>
            <foreach collection="ids" item="id" open="sui.id IN (" separator="," close=")">
                #{id}
            </foreach>
        </where>
    </select>
    <select id="getUserIdByCompIdOrDeptId" resultType="java.lang.String">
        SELECT
        ssi.user_id
        FROM
        sys_staff_info AS ssi
        JOIN union_staff_depart AS usd ON usd.staff_id = ssi.id
        <where>
            <if test="compId neq null and compId neq ''">
                AND ssi.comp_id = #{compId}
            </if>
            <if test="departId neq null and departId neq ''">
                AND (usd.department_id LIKE CONCAT('',#{departId},'\_%') or usd.department_id=#{departId})
            </if>
        </where>
    </select>
    <select id="getCustomerQuerydimensionality" resultType="com.zerody.user.vo.CustomerQueryDimensionalityVo">
        SELECT
        sui.id,
        sui.user_name AS `name`
        FROM
        sys_user_info AS sui
        JOIN sys_staff_info AS ssi ON sui.id = ssi.user_id
        JOIN union_staff_depart AS usd ON usd.staff_id = ssi.id
        <where>
            sui.status IN (0, 3)
            AND
            usd.department_id = #{user.deptId}
        </where>
    </select>
    <select id="getStaffinfoDetails" resultType="com.zerody.user.vo.SysStaffInfoDetailsVo">
        SELECT
            ssi.user_id,
            ssi.avatar,
            ssi.id AS staffId,
            sui.user_name,
            sui.phone_number,
            sui.certificate_card,
            sci.company_name,
            sdi.depart_name,
            sjp.position_name
        FROM
            sys_staff_info ssi
            LEFT JOIN sys_user_info sui ON ssi.user_id = sui.id
            LEFT JOIN sys_company_info sci ON ssi.comp_id = sci.id
            LEFT JOIN union_staff_depart usd ON ssi.id = usd.staff_id
            LEFT JOIN sys_department_info sdi ON sdi.id = usd.department_id
            LEFT JOIN union_staff_position usp ON ssi.id=usp.staff_id
            LEFT JOIN sys_job_position sjp ON usp.position_id=sjp.id
            where ssi.user_id=#{userId}
    </select>
    <select id="getRecommendInfo" resultType="com.zerody.user.vo.RecommendInfoVo">
        SELECT
            ssi.id AS staff_id,
            ssi.user_id AS user_id,
            ssi.user_name AS user_name,
            sdi.id AS depart_id,
            sdi.depart_name AS depart_name,
            sci.id AS company_id,
            sci.company_name AS company_name,
            ssi.recommend_id,
            ssi.recommend_type,
            sjp.position_name
        FROM
            sys_staff_info AS ssi
        LEFT JOIN union_staff_depart AS usd ON usd.staff_id = ssi.id
        LEFT JOIN sys_department_info AS sdi ON sdi.id = usd.department_id
        LEFT JOIN sys_company_info AS sci ON sci.id = ssi.comp_id
        LEFT JOIN union_staff_position AS usp ON usp.staff_id = ssi.id
        LEFT JOIN  sys_job_position AS sjp ON sjp.id = usp.position_id
        <where>
            <if test="recommendId neq null and recommendId neq ''">
               AND  ssi.id = #{recommendId}
            </if>
        </where>
    </select>
    <select id="getNotSendPwdSmsStaff" resultType="com.zerody.user.vo.CheckLoginVo">
        SELECT
            ssi.id AS staff_id,
            ssi.password AS user_pwd,
            sui.phone_number
        FROM
        sys_staff_info AS ssi
        JOIN sys_user_info AS sui ON sui.id = ssi.user_id
        <where>
            (sui.status = 0 OR sui.status = 3)
            AND ssi.password &gt; ''
            <if test="companyId neq null and companyId neq ''">
                AND ssi.comp_id = #{companyId}
            </if>
        </where>
    </select>

    <select id="getUserByCertificateCard" resultType="com.zerody.user.api.vo.StaffInfoVo">
        SELECT
            sui.id AS user_id,
            ssi.id AS staff_id,
            sui.user_name,
            sci.company_name,
            sdi.depart_name AS department_name
        FROM
                sys_user_info AS sui
        JOIN sys_staff_info AS ssi ON ssi.user_id = sui.id
        JOIN sys_company_info AS sci ON sci.id = ssi.comp_id
        LEFT JOIN union_staff_depart AS usd ON usd.staff_id = ssi.id
        LEFT JOIN sys_department_info AS sdi ON sdi.id = usd.department_id
        <where>
            sui.status IN (0, 3)
            <if test="idCard neq null and idCard neq ''">
               AND sui.certificate_card = #{idCard}
            </if>
        </where>
        limit 0,1
    </select>
    <select id="getSalesmanNum" resultType="java.lang.Integer">
        SELECT
            count(sui.id)
        FROM
            sys_user_info AS sui
        JOIN sys_staff_info AS ssi ON ssi.user_id = sui.id
        JOIN union_role_staff AS urs ON urs.staff_id = ssi.id
        JOIN sys_company_info AS sci ON sci.id = ssi.comp_id
        LEFT JOIN union_staff_depart AS usd ON usd.staff_id = ssi.id
        <where>
            sci.status = 0 AND sui.status IN(0, 3)
            <if test="param.companyId neq null and param.companyId neq ''">
                AND sci.id = #{param.companyId}
            </if>
            <if test="param.departId neq null and param.departId neq ''">
                AND (usd.department_id LIKE CONCAT(#{param.departId}, '\_%') or usd.department_id = #{param.departId})
            </if>
            <if test="param.userId neq null and param.userId neq ''">
                AND sui.id = #{param.userId}
            </if>
            <if test="param.salesmanRoles neq null and param.salesmanRoles.size() gt 0">
                AND urs.role_id
                <foreach collection="param.salesmanRoles" item="id" open="IN (" separator="," close=")" >
                    #{id}
                </foreach>
            </if>
        </where>
    </select>
    <select id="getJobUser" resultType="com.zerody.user.domain.SysUserInfo">
        SELECT
            sui.id,
            1 AS is_edit
        FROM
            sys_user_info AS sui
        JOIN sys_staff_info AS ssi ON ssi.user_id = sui.id
        JOIN union_staff_position AS usp ON usp.staff_id = ssi.id
        <where>
            <if test="jobId neq null and jobId neq ''">
                AND usp.position_id = #{jobId}
            </if>
        </where>
    </select>

    <select id="getSalesmanNumCompayList" resultType="com.zerody.user.vo.SalesmanRoleInfoVo">
        SELECT
                mau.company_id AS `id`,
                mau.number AS `num`
        FROM
                month_activity_user AS mau
        <where>
            mau.year = #{year}  AND mau.month = #{month} AND mau.type = 'COMPANY'
            <if test="companyIds neq null and companyIds.size() gt 0">
                AND mau.company_id
                <foreach collection="companyIds" item="id" open="IN  (" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>

    <select id="getSalesmanNumDepartList" resultType="com.zerody.user.vo.SalesmanRoleInfoVo">
        SELECT
            mau.depart_id AS `id`,
            mau.number AS `num`
        FROM
        month_activity_user AS mau
        <where>
             mau.year = #{year}  AND mau.month = #{month} AND mau.type IN ('DEPART', 'TEAM')
            <if test="departIds neq null and departIds.size() gt 0">
                AND mau.depart_id
                <foreach collection="departIds" item="id" open="IN  (" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>

    <select id="getSalesmanNumUserList" resultType="com.zerody.user.vo.SalesmanRoleInfoVo">
        SELECT
            sui.id,
            1 AS `num`
        FROM
         sys_staff_info AS ssi
        JOIN sys_user_info AS sui ON sui.id = ssi.user_id
        <where>
            <if test="userIds neq null and userIds.size() gt 0">
                AND sui.id
                <foreach collection="userIds" item="id" open="IN  (" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            AND sui.status IN (0, 3)
        </where>
    </select>
    <select id="getStaffInfoByMobile" resultType="com.zerody.user.api.vo.StaffInfoVo">
        SELECT
            ssi.id AS `staff_id`
        FROM sys_user_info AS sui
        JOIN sys_staff_info AS ssi ON ssi.user_id = sui.id
        where
            sui.status IN (0, 3)
            AND sui.phone_number = #{mobile}
    </select>
    <select id="getUserInfoByUserId" resultType="com.zerody.user.dto.SetSysUserInfoDto">
        SELECT
            sui.avatar,
            ssi.avatar AS staff_avatar,
            sui.user_name,
            sui.gender,
            sui.phone_number,
            sui.email,
            sui.nickname,
            sui.birthday,
            sui.certificate_card,
            sui.certificate_card_address,
            sui.contact_address,
            sui.prov_city_district,
            sui.nation,
            sui.ancestral,
            sui.highest_education,
            sui.graduated_from,
            sui.major,
            sui.marital_status,
            sui.register_time,
            sui.urgent_name,
            sui.urgent_relation,
            sui.urgent_phone,
            sui.family_name,
            sui.family_relation,
            sui.family_phone,
            sui.family_job,
            sui.family_addr,
            ssi.work_place,
            ssi.job_number,
            ssi.date_join,
            ssi.conversion_date,
            ssi.evaluate,
            ssi.resume_url,
            ssi.recommend_type,
            ssi.recommend_id,
            ssi.integral,
            ssi.working_years
        FROM sys_user_info AS sui
        JOIN sys_staff_info AS ssi ON ssi.user_id = sui.id
        WHERE
            sui.id = #{userId}
    </select>

    <select id="getCompanyUserCountById" resultType="integer">
        select count(1)  as 'userCount'
        from sys_staff_info ssi
        join sys_user_info AS sui on ssi.user_id = sui.id
        where sui.status in (0, 3) and comp_id = #{companyId}
    </select>


    <!--伙伴数据统计-->
    <select id="statisticsUsers" resultType="com.zerody.user.vo.UserStatistics" parameterType="com.zerody.user.dto.SetSysUserInfoDto">
        select
        count(IF(ssi.user_type =0, 1 ,NULL)) as managerNum,
        count(IF(ssi.user_type =3, 1 ,NULL)) as vicePresidentNum,
        count(IF(ssi.user_type =2, 1 ,NULL)) as teamLeaderNum,
        count(IF(ssi.user_type =1, 1 ,NULL)) as partnerNum,
        count(IF(ssi.status =0, 1 ,NULL)) as contractNum,
        count(IF(ssi.status =1,  1 ,NULL)) as cancelledNum,
        count(IF(ssi.status =3,  1 ,NULL)) as inCooperationNum
        from sys_staff_info as ssi
        left join union_staff_depart as usd on usd.staff_id = ssi.id
        left join sys_user_info as sui on sui.id = ssi.user_id
        <where>
            ssi.deleted = 0 and sui.status != -1
            <if test="param.companyId neq null and param.companyId neq ''">
                and ssi.comp_id = #{param.companyId}
            </if>
            <if test="param.companyIds neq null and param.companyIds.size() gt 0">
                and ssi.comp_id
                <foreach collection="param.companyIds" item="id" open="IN (" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>


    <!--获取员工信息-->
    <select id="querySysStaffInfoList" resultType="com.zerody.user.vo.AppUserVo" parameterType="java.lang.String">
        select ssi.user_name, sui.avatar, sui.phone_number, sci.company_name, ssi.id as staff_id from sys_staff_info ssi
			left join sys_user_info sui on sui.id = ssi.user_id
			left join union_staff_depart usd on usd.staff_id = ssi.id
			left join sys_department_info sdi on sdi.id = usd.department_id
			join sys_company_info sci on sci.id = sdi.comp_id
		    <where>
                ssi.deleted = 0 and sui.status != -1
                <if test="param.departmentId neq null and param.departmentId neq ''">
                    sdi.id = #{param.departmentId}
                </if>
            </where>
    </select>

    <!--查询企业下的员工信息-->
    <select id="queryCompStaff" resultType="com.zerody.user.vo.AppUserVo">
        select ssi.user_name, sui.avatar, sui.phone_number, sci.company_name, ssi.id as staff_id from sys_staff_info ssi
			left join sys_user_info sui on sui.id = ssi.user_id
			join sys_company_info sci on sci.id = ssi.comp_id
            <where>
                ssi.deleted = 0 and sui.status != -1
                <if test="param.compId neq null and param.compId neq ''">
                    sci.id = #{param.compId}
                </if>
            </where>
    </select>


    <update id="updateStatus">
        update sys_staff_info set status = #{status}, date_left = now()
        <if test="leaveReason neq null and leaveReason neq ''">
            ,leave_reason = #{leaveReason}
        </if>

        where id = #{staffId}
    </update>
</mapper>
