<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zerody.user.mapper.SysStaffInfoMapper" >
  <resultMap id="BaseResultMap" type="com.zerody.user.domain.SysStaffInfo" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="comp_id" property="compId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="work_place" property="workPlace" jdbcType="VARCHAR" />
    <result column="job_number" property="jobNumber" jdbcType="VARCHAR" />
    <result column="date_join" property="dateJoin" jdbcType="DATE" />
    <result column="conversion_date" property="conversionDate" jdbcType="DATE" />
    <result column="date_left" property="dateLeft" jdbcType="DATE" />
    <result column="create_id" property="createId" jdbcType="VARCHAR" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_id" property="updateId" jdbcType="VARCHAR" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, comp_id, user_id, user_name, work_place, job_number, date_join, conversion_date, 
    date_left, create_id, create_user, create_time, update_id, update_user, update_time, 
    status
  </sql>
  <select id="selectByUserIdAndCompId" resultType="com.zerody.user.vo.SysStaffInfoVo" >
      SELECT
          id,
          comp_id,
          user_id,
          user_name,
          work_place,
          job_number,
          date_join,
          conversion_date,
          date_left
      FROM
          sys_staff_info
      WHERE
          STATUS != 2
      AND user_id = #{userId}
      AND comp_id = #{compId}
  </select>

  <select id="getPageAllStaff" resultType="com.zerody.user.vo.BosStaffInfoVo">
      SELECT
      sui.id AS id,
      ssi.comp_id AS compId,
      ssi.user_name AS userName,
      sci.company_name AS companyName,
      sui.phone_number AS phone,
      sjp.position_name AS positionName,
      sdi.depart_name AS departName,
      ssi.id AS staffId,
      urs.role_name AS roleName
      FROM
      sys_user_info sui
      JOIN sys_staff_info ssi ON sui.id = ssi.user_id
      LEFT JOIN sys_company_info sci ON sci.id = ssi.comp_id
      LEFT JOIN union_role_staff urs ON urs.staff_id = ssi.id
      LEFT JOIN union_staff_depart usd ON usd.staff_id = ssi.id
      LEFT JOIN sys_department_info sdi ON usd.department_id = sdi.id and sdi.status = 0
      LEFT JOIN union_staff_position usp ON usp.staff_id = ssi.id
      LEFT JOIN sys_job_position sjp ON sjp.id = usp.position_id and sjp.status = 0
      <where>
          ssi.deleted = 0 and sui.status != -1
          <if test="staff.companyId != null and staff.companyId != ''">
              and sci.id = #{staff.companyId}
          </if>
          <if test="staff.departId != null and staff.departId != ''">
              and sdi.id = #{staff.departId}
          </if>
          <if test="staff.jobId != null and staff.jobId != ''">
              and sjp.id = #{staff.jobId}
          </if>
          <if test="staff.roleId != null and staff.roleId != ''">
              and urs.role_id = #{staff.roleId}
          </if>
          <if test="staff.staffName != null and staff.staffName != ''">
              and ssi.user_name like concat('%', #{staff.staffName}, '%')
          </if>
          <if test="staff.phoneNumber != null and staff.phoneNumber != ''">
              and sui.phone_number like concat('%', #{staff.phoneNumber}, '%')
          </if>
      </where>
      order by ssi.create_time desc
  </select>
    <select id="selectUserByCompanyId" resultType="java.lang.String">
        SELECT
			sui.id
		FROM
			sys_user_info sui
		JOIN sys_staff_info ssi ON ssi.user_id = sui.id
		WHERE
			ssi.comp_id = #{companyId} and ssi.status != 2 and sui.status != -1
    </select>

    <select id="getStaffInfoByOpenId" resultType="com.zerody.user.vo.SysUserInfoVo">
        SELECT
            sui.user_name,
            sui.phone_number,
            sui.email,
            sui.nickname,
            sui.avatar,
            sui.prov_city_district,
            sjp.position_name,
            sci.company_name
        FROM
            sys_user_info sui
        JOIN sys_staff_info ssi ON sui.id = ssi.user_id
        LEFT JOIN union_staff_position usp ON usp.staff_id = ssi.id
        LEFT JOIN sys_job_position sjp ON sjp.id = usp.position_id
        LEFT JOIN sys_company_info sci on sci.id = ssi.comp_id
        <where>
            ssi.status != -1 and open_id = #{openId}
        </where>
    </select>

    <select id="selectStaffById" resultType="com.zerody.user.vo.SysUserInfoVo">
        SELECT
        sci.company_name,
        ssi.id staffId,
        sui.user_name,
        sui.gender,
        sui.phone_number,
        sui.email,
        sui.nickname,
        sui.avatar,
        sui.birthday,
        sui.certificate_card,
        sui.certificate_card_address,
        sui.prov_city_district,
        sui.contact_address,
        sui.register_time,
        ssi.STATUS,
        sui.nation,
        sui.ancestral,
        urs.role_name,
        sdi.depart_name,
        sjp.position_name,
        urs.role_id,
        sdi.id AS departId,
        sjp.id AS positionId,
        sci.id AS companyId,
        sui.id AS id
        FROM
        sys_user_info sui
        JOIN sys_staff_info ssi ON sui.id = ssi.user_id
        LEFT JOIN sys_company_info sci ON sci.id = ssi.comp_id
        LEFT JOIN union_role_staff urs ON urs.staff_id = ssi.id
        LEFT JOIN union_staff_depart usd ON usd.staff_id = ssi.id
        LEFT JOIN sys_department_info sdi ON usd.department_id = sdi.id and sdi.status = 0
        LEFT JOIN union_staff_position usp ON usp.staff_id = ssi.id
        LEFT JOIN sys_job_position sjp ON sjp.id = usp.position_id and sjp.status = 0
        <where>
            ssi.deleted = 0 and ssi.id = #{id}
        </where>
    </select>

    <select id="selectStaffByUserId" resultType="com.zerody.user.vo.SysUserInfoVo">
        SELECT
        sci.company_name,
        ssi.id staffId,
        sui.user_name,
        sui.gender,
        sui.phone_number,
        sui.email,
        sui.nickname,
        sui.avatar,
        sui.birthday,
        sui.certificate_card,
        sui.certificate_card_address,
        sui.prov_city_district,
        sui.contact_address,
        sui.register_time,
        ssi.STATUS,
        sui.nation,
        sui.ancestral,
        urs.role_name,
        sdi.depart_name,
        sjp.position_name,
        urs.role_id,
        sdi.id AS departId,
        sjp.id AS positionId,
        sci.id AS companyId,
        sui.id AS id
        FROM
        sys_user_info sui
        JOIN sys_staff_info ssi ON sui.id = ssi.user_id
        LEFT JOIN sys_company_info sci ON sci.id = ssi.comp_id
        LEFT JOIN union_role_staff urs ON urs.staff_id = ssi.id
        LEFT JOIN union_staff_depart usd ON usd.staff_id = ssi.id
        LEFT JOIN sys_department_info sdi ON usd.department_id = sdi.id and sdi.status = 0
        LEFT JOIN union_staff_position usp ON usp.staff_id = ssi.id
        LEFT JOIN sys_job_position sjp ON sjp.id = usp.position_id and sjp.status = 0
        <where>
            ssi.status != -1 and sui.id = #{userId}
        </where>
    </select>

    <select id="selectStaffRoles" resultType="String">
        SELECT
        urs.role_id
        FROM
        sys_staff_info ssi
        LEFT JOIN union_role_staff urs ON urs.staff_id = ssi.id
        <where>
            ssi.deleted = 0
            and ssi.comp_id = #{companyId}
            and ssi.user_id = #{userId}
        </where>
    </select>

    <select id="getStaff" resultType="com.zerody.user.vo.BosStaffInfoVo">
         SELECT
        ssi.comp_id AS compId,
        ssi.user_name AS userName,
        sui.phone_number AS phone,
        sjp.position_name AS positionName,
        sdi.depart_name AS departName,
        ssi.id AS staffId
        FROM
        sys_staff_info ssi
        LEFT JOIN sys_user_info sui ON sui.id=ssi.user_id
        LEFT JOIN union_staff_position usp ON usp.staff_id = ssi.id
        LEFT JOIN sys_job_position sjp ON sjp.id = usp.position_id
        LEFT JOIN union_staff_depart usd ON usd.staff_id = ssi.id
        LEFT JOIN sys_department_info sdi ON sdi.id = usd.department_id
        <where>
            ssi.deleted = 0
        <if test="positionId != null and positionId != ''">
            and usp.position_id = #{positionId}
        </if>
        <if test="departId != null and departId != ''">
            and usd.department_id = #{departId}
        </if>
        <if test="companyId != null and companyId != ''">
            and ssi.comp_id = #{companyId}
        </if>
        </where>
    </select>

    <select id="selectAdmins" resultType="com.zerody.user.vo.BosStaffInfoVo">
        SELECT
        aui.id AS id,
        sci.id AS compId,
        sci.company_name AS companyName,
        aui.user_name AS userName,
        aui.phone_number AS phone,
        sjp.position_name AS positionName,
        sdi.depart_name AS departName,
        ssi.id AS staffId,
        urs.role_id AS roleId
        FROM
        admin_user_info aui
        LEFT JOIN sys_staff_info ssi ON ssi.id=aui.staff_id
        LEFT JOIN sys_user_info sui ON sui.id=ssi.user_id
        LEFT JOIN sys_company_info sci ON sci.id=ssi.comp_id
        LEFT JOIN union_staff_position usp ON usp.staff_id = aui.staff_id
        LEFT JOIN sys_job_position sjp ON sjp.id = usp.position_id
        LEFT JOIN union_staff_depart usd ON usd.staff_id = aui.staff_id
        LEFT JOIN sys_department_info sdi ON sdi.id = usd.department_id
        LEFT JOIN union_platform_role_staff urs ON urs.staff_id = aui.staff_id
        <where>
            ssi.deleted = 0
            and aui.deleted !=1
        <if test="dto.userName != null and dto.userName != ''">
            and ssi.user_name like CONCAT('%',#{dto.userName},'%')
        </if>
        </where>
    </select>
    
     <select id="selectUserDeptInfoById" resultType="com.zerody.user.api.vo.UserDeptVo">
        SELECT
        ssi.id as staffId,
        ssi.user_id as userId,
        ssi.id com_id as companyId,
        usd.department_id as deptId,
        usp.position_id as postId,
        FROM sys_staff_info ssi 
        LEFT JOIN union_staff_depart usd ON usd.staff_id = ssi.id
        LEFT JOIN union_staff_position usp ON usp.staff_id = ssi.id
        <where>
            ssi.deleted = 0 and ssi.id = #{staffId}
        </where>
    </select>
    <select id="selectUserInfo" resultType="com.zerody.user.vo.SysUserClewCollectVo">
        SELECT
            sui.id AS userId,
            sui.user_name AS name,
            sdi.depart_name AS departName,
            sjp.position_name AS jobName
        FROM
            sys_user_info AS sui
        JOIN  sys_staff_info AS ssi ON ssi.user_id = sui.id and ssi.status = 0
        JOIN sys_company_info sci ON sci.id=ssi.comp_id
        LEFT JOIN union_staff_position usp ON usp.staff_id = ssi.id
        LEFT JOIN sys_job_position sjp ON sjp.id = usp.position_id
        LEFT JOIN union_staff_depart usd ON usd.staff_id = ssi.id
        LEFT JOIN sys_department_info sdi ON sdi.id = usd.department_id
        where
            ssi.id = #{staffId}
    </select>
    <select id="getStaffByDepIds" resultType="com.zerody.user.vo.SysUserClewCollectVo">
        SELECT
            sui.id AS userId,
            sui.user_name AS name,
            sdi.depart_name AS departName,
            sjp.position_name AS jobName
        FROM
            sys_user_info AS sui
        JOIN  sys_staff_info AS ssi ON ssi.user_id = sui.id and ssi.status = 0
        JOIN sys_company_info sci ON sci.id=ssi.comp_id
        <if test="ids eq null">
            JOIN company_admin AS ca ON ca.company_id  = sci.id and ssi.id != ca.staff_id
        </if>
        LEFT JOIN union_staff_position usp ON usp.staff_id = ssi.id
        LEFT JOIN sys_job_position sjp ON sjp.id = usp.position_id
        LEFT JOIN union_staff_depart usd ON usd.staff_id = ssi.id
        LEFT JOIN sys_department_info sdi ON  sdi.id = usd.department_id
        <where>
             sci.id = #{compId}
            <if test="ids != null and ids.size() > 0">
                and sdi.id in
                <foreach collection="ids" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>


    <select id="selectStaffInfo" resultType="com.zerody.user.vo.CopyStaffInfoVo">
        SELECT
        ssi.id AS staffId,
        sui.user_name,
        sui.phone_number AS phoneNumber,
        sui.avatar,
        sli.user_pwd AS userPwd,
        urs.role_id
        FROM
        sys_user_info sui
        JOIN sys_staff_info ssi ON sui.id = ssi.user_id
        JOIN sys_login_info sli ON sli.user_id = sui.id
        LEFT JOIN union_platform_role_staff urs ON urs.staff_id = ssi.id
        <where>
            ssi.deleted = 0
            and ssi.id = #{staffId}
        </where>
    </select>
    <select id="getWxPageAllStaff" resultType="com.zerody.user.vo.BosStaffInfoVo">
        SELECT
            sui.id AS id,
            sui.user_name AS userName,
            sui.phone_number AS phone
        FROM
            sys_user_info AS sui
        JOIN sys_staff_info AS ssi ON ssi.user_id = sui.id
        WHERE
            ssi.status != 1 and ssi.comp_id = #{dto.companyId}
            <if test="dto.staffName neq null and dto.staffName neq ''">
                and ssi.user_name like concat('%',#{dto.uerName},'%')
            </if>
    </select>
</mapper>