<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zerody.user.mapper.UnionStaffDepartMapper" >
  <resultMap id="BaseResultMap" type="com.zerody.user.domain.UnionStaffDepart" >
    <id column="Id" property="id" jdbcType="VARCHAR" />
    <result column="staff_id" property="staffId" jdbcType="VARCHAR" />
    <result column="department_id" property="departmentId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, staff_id, department_id
  </sql>
    <select id="getStaffByRole" resultType="com.zerody.user.domain.UnionStaffDepart">
      SELECT
        ssi.id as staffId,
        usd.department_id AS departmentId
      FROM
        sys_staff_info AS ssi
      JOIN union_role_staff AS urs ON ssi.id = urs.staff_id
      JOIN union_staff_depart AS usd ON usd.staff_id = ssi.id
      <where>
            <if test="roleId neq null and roleId neq ''">
                urs.role_id = #{roleId}
            </if>
      </where>
    </select>

</mapper>