<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zerody.user.mapper.UnionBirthdayMonthMapper" >
  <resultMap id="BaseResultMap" type="com.zerody.user.domain.UnionBirthdayMonth" >
      <id column="id" jdbcType="VARCHAR" property="id" />
      <result column="blessing"  property="templateId" />
      <result column="push_time"  property="month" />
      <result column="create_time"  property="createTime" />
      <result column="create_username"  property="createUsername" />
  </resultMap>

    <select id="getMonthCount" resultType="int">
         select count(bt.id)
        from user_birthday_template bt
        join union_birthday_month bm on bm.template_id = bt.id
        where bt.state = 1 and bt.deleted = 1 and bt.type = #{type} and bm.`month` in
        <foreach collection="months" item="month" open=" (" separator="," close=")">
            #{month}
        </foreach>
        <if test="templateId neq null and templateId neq ''">
            and bt.id != #{templateId}
        </if>
    </select>

    <select id="getMonthList" resultType="string">
        select bm.month
        from user_birthday_template bt
        join union_birthday_month bm on bm.template_id = bt.id
        where bt.state = 1 and bt.deleted = 1 and bt.type = #{type}
        <if test="templateId neq null and templateId neq ''">
            and bt.id != #{templateId}
        </if>
    </select>

</mapper>