<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zerody.user.mapper.CompanyAdminMapper">
    <!-- 生成备用 -->
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zerody.user.domain.CompanyAdmin">
  		 <id column="id" property="id"/>
		<result column="staff_id" property="staffId"/>
		<result column="state" property="state"/>
		<result column="role_id" property="roleId"/>
		<result column="update_by" property="updateBy"/>
		<result column="update_username" property="updateUsername"/>
		<result column="update_time" property="updateTime"/>
		<result column="create_username" property="createUsername"/>
		<result column="create_by" property="createBy"/>
		<result column="create_time" property="createTime"/>
		<result column="deleted" property="deleted"/>
		<result column="company_id" property="companyId"/>
    </resultMap>

	<select id="getAdminList" resultType="com.zerody.user.vo.SubordinateUserQueryVo">
		SELECT sui.id            AS user_id,
		sui.user_name,
		sui.phone_number  AS mobile,
		urs.role_name     AS roleName,
		sci.company_name  AS companyName,
		ssi.avatar
		FROM company_admin AS ca
		JOIN sys_staff_info AS ssi  ON ssi.id =ca.staff_id
		JOIN sys_user_info sui ON ssi.user_id = sui.id and ssi.`status` in (0, 3)
		LEFT JOIN sys_company_info sci ON sci.id = ssi.comp_id
        LEFT JOIN union_role_staff urs ON urs.staff_id = ssi.id
		where
			sui.status IN (0, 3) AND ca.company_id = #{companyId}
	</select>
	<select id="getAdminInfoByCompanyId" resultType="com.zerody.user.api.vo.StaffInfoVo">
		SELECT
			sui.avatar AS user_avatar,
			ssi.avatar AS staff_avatar,
			sui.user_name,
			sui.id AS userId,
			sci.company_name,
			sdi.id AS departId,
			sci.id AS companyId,
			sdi.depart_name AS departmentName,
			sui.phone_number AS mobile,
			sui.certificate_card AS identity_card,
			sjp.position_name,
			urs.role_id,
			urs.role_name,
			ssi.id AS `staff_id`,
			ssi.status
		FROM company_admin AS ca
	    JOIN sys_staff_info AS ssi  ON ssi.id =ca.staff_id
	    JOIN sys_user_info sui ON ssi.user_id = sui.id and sui.`status` in (0, 3)
		JOIN sys_company_info AS sci ON sci.id = ssi.comp_id
		LEFT JOIN union_staff_depart AS usd ON usd.staff_id = ssi.id
		LEFT JOIN sys_department_info AS sdi ON sdi.id = usd.department_id
		LEFT JOIN  union_staff_position AS usp ON usp.staff_id=ssi.id
		LEFT JOIN sys_job_position AS sjp ON sjp.id=usp.position_id
		JOIN union_role_staff AS urs ON urs.staff_id = ssi.id
		WHERE ca.company_id = #{companyId}
	</select>
</mapper>
