<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zerody.user.mapper.CompanyAdminMapper">
    <!-- 生成备用 -->
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zerody.user.domain.CompanyAdmin">
  		 <id column="id" property="id"/>
		<result column="user_id" property="userId"/>
		<result column="state" property="state"/>
		<result column="role_id" property="roleId"/>
		<result column="update_by" property="updateBy"/>
		<result column="update_username" property="updateUsername"/>
		<result column="update_time" property="updateTime"/>
		<result column="create_username" property="createUsername"/>
		<result column="create_by" property="createBy"/>
		<result column="create_time" property="createTime"/>
		<result column="deleted" property="deleted"/>
		<result column="company_id" property="companyId"/>
    </resultMap>

    <insert id="saveData" >
        INSERT INTO company_admin(
			id,
			user_id,
			state,
			role_id,
			update_by,
			update_username,
			update_time,
			create_username,
			create_by,
			create_time,
			deleted,
			company_id
        ) VALUES (
			#{data.id}
			#{data.userId}
			#{data.state}
			#{data.roleId}
			#{data.updateBy}
			#{data.updateUsername}
			#{data.updateTime}
			#{data.createUsername}
			#{data.createBy}
			#{data.createTime}
			#{data.deleted}
			#{data.companyId}
        )
    </insert>

    <update id="updateData">
        UPDATE company_admin SET 
			id= #{data.id},
			user_id= #{data.userId},
			state= #{data.state},
			role_id= #{data.roleId},
			update_by= #{data.updateBy},
			update_username= #{data.updateUsername},
			update_time= #{data.updateTime},
			create_username= #{data.createUsername},
			create_by= #{data.createBy},
			create_time= #{data.createTime},
			deleted= #{data.deleted},
			company_id= #{data.companyId}
        WHERE id= #{data.id}
    </update>

    <delete id="deleteData">
        DELETE FROM company_admin WHERE id= #{data.id}
    </delete>

    <select id="selectDataById" resultMap="BaseResultMap">
        SELECT 
			id,
			user_id,
			state,
			role_id,
			update_by,
			update_username,
			update_time,
			create_username,
			create_by,
			create_time,
			deleted,
			company_id
        FROM company_admin 
        WHERE id= #{data.id}
    </select>


</mapper>
